<ion-view cache-view="false" view-title="Define the Problem" ng-controller="AdultConcernsCrtl">
  <div class="bar bar-subheader bar-positive item-text-wrap">
    <h2 class="title">{{unsolvedProblem.description}}</h2>
  </div>
  <ion-content  ng-init="findChildConcern();findUnsolvedProblem();"  class="has-subheader has-tabs">
    <br>
    <ion-list>
      <div class="item item-text-wrap item-divider">
        <h2>Child's Concerns</h2>
      </div>
      <div class="item item-text-wrap">
        <h3>{{childConcern.description}}</h3>
      </div>
    </ion-list>
    <br>
    <div class="list">
 		  <label class="item item-input item-select">
 		    <div class="input-label">
 		      My worry is..
 		    </div>
 		    <select>
 		      <option selected>The child's safety</option>
 		      <option>How the problem is affecting someone else</option>
 		    </select>
 		  </label>
 		</div>

    <div ng-init="updateChildsConcerns()" class="padding">
      <ion-list can-swipe="true" >
        <div align="center" class="item item-text-wrap list-title item-icon-right">
          <p><b>List of Adult's Concerns</b></p>
          <a ng-click="openModal()" class="watchlist_menu item-button">
            <i class="icon ion-plus"></i>
          </a>
        </div>
        <ion-item class="item item-text-wrap item-icon-right" href="#/app/invitation/{{unsolvedProblem.id}}" ng-repeat="adultsConcern in adultsConcerns">
          <p>{{adultsConcern.description}}</p>
          <a href="#/app/invitation/{{adultsConcern.id}}">
            <i class="icon dark ion-chevron-right"></i>
          </a>
          <ion-option-button class="button button-balanced ion-edit" ng-click="editChildsConcern(adultsConcern)">&nbsp;Edit</ion-option-button>
          <ion-option-button ng-click="showConfirmChildsConcern(childsConcern)" class="button-assertive ion-trash-a" >&nbsp;Delete </ion-option-button>
        </ion-item>
        <div class="item item-text-wrap" ng-if="childsConcerns.length == 0">
          <p>No adult's concern registered. Please register one above.</p>
        </div>
      </ion-list>
    </div>

    <script id="create-modal.html" type="text/ng-template">
      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title" style="left: 67px; right: 67px;">New adult&apos;s concern</h1>
          <button class="button button-clear button-primary" ng-click="modalCreate.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
          <div class="list">
            <label class="item item-input">
              <textarea rows=5 placeholder="Type a new adult's concern here." ng-model="adultsConcern.description">
              </textarea>
            </label>
            <button class="button button-full button-positive" ng-if="!adultsConcern.description.length" ng-click="createAdultsConcern()" disabled>Create</button>
            <button class="button button-full button-positive" ng-if="adultsConcern.description.length > 0" ng-click="createAdultsConcern()">Create</button>
          </div>
        </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div></ion-content>
      </ion-modal-view>
    </script>

    <script id="edit-modal.html" type="text/ng-template">
      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title" style="left: 67px; right: 67px;">Edit adult&apos;s concern</h1>
          <button class="button button-clear button-primary" ng-click="modalEdit.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
          <form>
            <label class="item item-input">
              <textarea rows=5 placeholder="Type a new child's concern here." ng-model="editableChildsConcern.description">
              </textarea>
            </label>
            <button class="button button-full button-positive" ng-if="!editableChildsConcern.description.length" ng-click="updateChildsConcern()" disabled>Save</button>
            <button class="button button-full button-positive" ng-if="editableChildsConcern.description.length > 0" ng-click="updateChildsConcern()">Save</button>
          </form>
        </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div></ion-content>
      </ion-modal-view>
    </script>
  </ion-content>

</ion-view>
