<ion-view cache-view="false" view-title="Define Adult's Concern" ng-controller="AdultConcernsCrtl">
  <div class="bar bar-subheader bar-positive item-text-wrap">
    <h2 class="title">{{unsolvedProblem.description}}</h2>
  </div>
  <ion-content  ng-init="findChildConcern();findUnsolvedProblem();"  class="has-subheader has-tabs" on-swipe-left="selectTabWithIndex(2)" on-swipe-left="selectTabWithIndex(0)">
    <div class="list">
 		  <label class="item item-input item-select">
 		    <div class="input-label">
 		      My worry is..
 		    </div>
 		    <select>
 		      <option selected>the child's safety</option>
 		      <option>how the problem is affecting someone else</option>
 		    </select>
 		  </label>
 		</div>
    <div ng-init="updateAdultsConcerns()" class="padding">
      <div class="item item-divider item-text-wrap">
        <a ng-click="openModal()" class="watchlist_menu button button-small button-clear button-positive">
          <i class="icon ion-plus"></i>
        </a>
        <div class="col col-75">
          <h2><b>List of Adult's Concerns</b></h2>
        </div>
      </div>
      <ion-list can-swipe="true" >
        <ion-item class="item item-text-wrap item-icon-right" href="#/app/invitation/{{unsolvedProblem.id}}" ng-repeat="adultsConcern in adultsConcerns">
          <p>{{adultsConcern.description}}</p>
          <a href="#/app/invitation/{{adultsConcern.id}}">
            <i class="icon dark ion-chevron-right"></i>
          </a>
          <ion-option-button class="button button-balanced ion-edit" ng-click="editAdultsConcern(adultsConcern)"></ion-option-button>
          <ion-option-button ng-click="showDeleteConfirmationPopup(adultsConcern)" class="button-assertive ion-trash-a" ></ion-option-button>
        </ion-item>
        <div class="item item-text-wrap" ng-if="adultsConcerns.length == 0">
          <p>No adult's concern registered. Please register one above.</p>
        </div>
      </ion-list>
    </div>

  </ion-content>
  <div class="footer" >
    <ion-tabs class="tabs-positive tabs-icon-top" delegate-handle="myTabs" >
      <ion-tab ng-click="selectTabWithIndex(0)" title="Empathy Step" icon-on="ion-help-buoy" icon-off="ion-help-buoy">
      </ion-tab>

      <ion-tab ng-click="selectTabWithIndex(1)" title="Define Adult's Concern" icon-on="ion-lightbulb" icon-off="ion-lightbulb" >
      </ion-tab>

      <ion-tab ng-click="selectTabWithIndex(2)" title="Invitation Step" icon-on="ion-happy" icon-off="ion-happy-outline">
      </ion-tab>
    </ion-tabs>
  </div>
</ion-view>
