<ion-view view-title="Edit Unsolved Problems">
  <ion-content ng-init = "find()" class="padding" ng-controller="EditUnsolvedProblemCtrl">
    <div class="text-center">
      <h4>Edit the unsolved problem</h4>
    </div>
    <div class="list card" ng-if="description.length == 0">
      <a class="item item-icon-left assertive">
        <i class="icon ion-alert"></i>
        You cannot save an empty unsolved problem.
      </a>
    </div>
    <form>
     <label class="item item-input">
       <textarea rows=5  ng-model="description">
       </textarea>
     </label>
     <!-- <ion-item>
       <ion-label stacked>Message</ion-label>
       <ion-textarea [(ngModel)]="description"></ion-textarea>
     </ion-item> -->
     <button class="button button-block button-positive" ng-click="createUnsolvedProblem()" ng-if="!description" disabled="true">Save</button>
     <button class="button button-block button-positive" ng-click="createUnsolvedProblem()" ng-if="description.length > 0">Save</button>
    </form>

  </ion-content>
</ion-view>
