<ion-view cache-view="false" view-title="Edit solution">
  <ion-content ng-init = "find()" class="padding" ng-controller="SolutionsCtrl">
    <div class="text-center">
      <h4>Edit the solution</h4>
    </div>
    <form>
     <label class="item item-input">
       <textarea rows=5 ng-model="editableSolution.description">
       </textarea>
     </label>
     <button class="button button-block button-positive" ng-click="updateSolution()" ng-if="!editableSolution.description" disabled="true">Save</button>
     <button class="button button-block button-positive" ng-click="updateSolution()" ng-if="editableSolution.description.length > 0">Save</button>
    </form>
  </ion-content>
</ion-view>
