<ion-view view-title="{{topic.description}}">
  <ion-content>
    <div class="list">
      <div ng-repeat="content in topic.contents">
        <div class="item item-text-wrap item-icon-right" ng-if="!content.link">
          <h3>{{content.description}}</h3>
        </div>
        <a class="item item-text-wrap item-icon-right" ng-click="browserInstance.openBrowser(content.link)" ng-if="content.link.length > 0">
          <h3>{{content.description}}</h3>
          <i class="icon ion-chevron-right"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
