<ion-view>
  <div class="bar bar-subheader bar-positive item-text-wrap">
    <h2 class="title">ALSUP</h2>
    <a class="button button-icon ion-ios-help-outline" href="#/app/alsupHelp"></a>
  </div>
  <ion-content class="has-subheader">
    <div class="list">
      <a class="item item-thumbnail-left" ng-click="checkActiveToContinue('app.laggingSkills')">
        <img src="img/home/laggingskills-icon.png">
        Lagging Skills
      </a>
      <a class="item item-thumbnail-left" ng-click="UnsolvedProblemsTutorial()">
        <img src="img/home/unsolvedproblem-icon.png">
        Unsolved Problems
      </a>
    </div>
  </ion-content>
</ion-view>
