<ion-view view-title="Help Categories for Invitation Step" ng-controller="HelpCategoryInvitationCtrl">
  <ion-content>
    <ion-list>
        <ion-item class="item item-text-wrap "  ng-repeat="helpCategory in helpCategoriesInvitation">
          <h2 ><b>{{helpCategory.description}}</b>
          <div class="col col-10"><i ng-class="showTopic ? 'ion-minus' : 'ion-plus'" ng-click="toggleHelp()"></i>
          </div></h2>
          <ion-list ng-repeat="topics in helpCategory.topics">
            <ion-item class="item-accordion" ng-show="showTopic" ng-repeat='topic in topics'>
              {{topic}}
            </ion-item>
          </ion-list>
        </ion-item>

      </ion-list>
  </ion-content>
</ion-view>
