
<ion-view view-title="Help Categories for Invitation Step" >
  <ion-content ng-controller="HelpCategoryInvitationCtrl">
    <ion-list>
    <div ng-repeat="helpCategory in helpCategoriesInvitation">
        <ion-item class="item item-stable item-text-wrap" ng-click="toggleHelp(helpCategory)"
          ng-click="toggleHelp(helpCategory)"
          ng-class="{active: isTopicShown(helpCategory)}">
          <i ng-class="isTopicShown(helpCategory) ? 'ion-minus' : 'ion-plus'" ></i>
          <b>{{helpCategory.description}}</b>
        </ion-item>
          <ion-list ng-repeat="topics in helpCategory.topics">
            <ion-item class="item-accordion" ng-show="isTopicShown(helpCategory)" ng-repeat='topic in topics'>
              {{topic}}
          </ion-list>
        </ion-item>
      </div>
      </ion-list>
  </ion-content>
</ion-view>
