<ion-view cache-view="false" view-title="Invitation Step">

  <ion-content  ng-init="initialSetUp()"  class="has-tabs" ng-controller="InvitationCtrl">
    <ion-list>
      <div class="item item-divider item-text-wrap">
        <p>Unsolved Problem #{{unsolvedProblem.id}}</p>
      </div>
      <div class="item item-divider item-text-wrap">
        <p>{{unsolvedProblem.description}}</p>
      </div>
      <div class="item item-divider item-text-wrap">
        <p>Child's'Concern</p>
      </div>
      <div class="item item-divider item-text-wrap">
        <p>{{childConcern.description}}</p>
      </div>
      <div class="item item-divider item-text-wrap">
        <p>Adult's Concern</p>
      </div>
      <div class="item item-divider item-text-wrap">
        <p>{{adultConcern.description}}</p>
      </div>
    </ion-list>

    <div ng-init="" class="padding">
      <ion-list can-swipe="true" >
        <div align="center" class="item item-text-wrap list-title item-rigth-icon">
          <p><b>Possible Solution</b></p>
          <a ng-click="openModal()" class="watchlist_menu item-button">
            <i class="icon ion-plus"></i>
          </a>
        </div>
        <div class="item item-text-wrap" ng-if="solution === null">
          <p>Agree upon a solution.</p>
        </div>
        <div class="item item-text-wrap" ng-if="solution !== null">
          <p>{{solution.description}}</p>
        </div>
      </ion-list>
    </div>

    <script id="create-modal.html" type="text/ng-template">
      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title" style="left: 67px; right: 67px;">Possible Solution</h1>
          <button class="button button-clear button-primary" ng-click="modalCreate.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header">
          <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
            <div class="list">
              <label class="item item-input">
                <textarea rows=5 placeholder="Agree upon a solution." ng-model="solution.description">
                </textarea>
              </label>
              <button class="button button-full button-positive" ng-if="!solution.description.length" ng-click="createSolution()" disabled>Create</button>
              <button class="button button-full button-positive" ng-if="solution.description.length > 0" ng-click="createSolution()">Create</button>
            </div>
          </div>
          <div class="scroll-bar scroll-bar-v">
            <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;">
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
</ion-view>
