<ion-view cache-view="false" view-title="Invitation Step" ng-controller="InvitationCtrl">
  <div class="bar bar-subheader bar-positive">
    <h2 class="title">{{unsolvedProblem.description}}</h2>
  </div>
  <ion-content  ng-init="initialSetUp()"  class="has-tabs has-subheader">
    <br>
    <ion-list>
      <div class="item item-divider item-text-wrap">
        <h2>I wonder if there is a way to help you with</h2>
      </div>
        <ion-item class="item item-text-wrap" ng-repeat="childConcern in childsConcerns">
          <p>{{childConcern.description}}</p>
        </ion-item>
        <br>
      <div class="item item-divider item-text-wrap">
        <h2>So that</h2>
      </div>
        <ion-item class="item item-text-wrap" ng-repeat="adultConcern in adultsConcerns">
          <p>{{adultConcern.description}}</p>
        </ion-item>
        <br>
      <div class="item item-divider item-text-wrap">
        <h2>Do you have any ideas?</h2>
      </div>
    </ion-list>

    <div ng-init="" class="padding">
      <ion-list>
        <div align="center" class="item item-text-wrap list-title item-icon-right">
          <p><b>Possible Solutions</b></p>
          <a ng-click="openModal()" class="watchlist_menu item-button">
            <i class="icon ion-plus"></i>
          </a>
        </div>
        <ion-item class="item item-text-wrap item-icon-right" ng-repeat="solution in solutions">
          <p>{{solution.rating}} -- {{solution.description}}</p>
          <a>
            <i class="icon dark ion-chevron-right"></i>
          </a>
          <ion-option-button class="button button-positive ion-more" ng-click="more(solution)">&nbsp;More</ion-option-button>
          <ion-option-button class="button button-calm ion-star" ng-click="showScore(solution,unsolvedProblem)">&nbsp;Score</ion-option-button>
        </ion-item>
        <div class="item item-text-wrap" ng-if="childsConcerns.length == 0">
          <p>Agree upon a solution.</p>
        </div>
      </ion-list>
    </div>

    <script id="create-modal.html" type="text/ng-template">
      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title" style="left: 67px; right: 67px;">Possible Solution</h1>
          <button class="button button-clear button-primary" ng-click="modalCreate.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header">
          <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
            <div class="list">
              <label class="item item-input">
                <textarea rows=5 placeholder="Agree upon a solution." ng-model="solution.description">
                </textarea>
              </label>
              <button class="button button-full button-positive" ng-if="!solution.description.length" ng-click="createSolution()" disabled>Create</button>
              <button class="button button-full button-positive" ng-if="solution.description.length > 0" ng-click="createSolution()">Create</button>
            </div>
          </div>
          <div class="scroll-bar scroll-bar-v">
            <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;">
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="edit-modal.html" type="text/ng-template">
      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title" style="left: 67px; right: 67px;">Edit Solution</h1>
          <button class="button button-clear button-primary" ng-click="modalEdit.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header">
          <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
            <form>
              <label class="item item-input">
                <textarea rows=5 placeholder="Agree upon a solution" ng-model="editableSolution.description">
                </textarea>
              </label>
              <button class="button button-full button-positive" ng-if="!editableSolution.description.length" ng-click="updateSolution()" disabled>Save</button>
              <button class="button button-full button-positive" ng-if="editableSolution.description.length > 0" ng-click="updateSolution()">Save</button>
            </form>
          </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
</ion-view>
