<ion-view view-title="Lagging Skills">
  <ion-content>
    <ion-list>
      <ion-item class="item item-text-wrap item-icon-right" ng-repeat="laggingSkill in laggingSkills">
        <p>{{laggingSkill.description}}</p>
          <a href="#/app/unsolvedProblems/new">
            <i class="icon ion-chevron-right"></i>
          </a>
        <ion-option-button class="button-positive ion-star" ng-click="showConfirm(unsolvedProblem)">&nbsp;Favorite </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
