<ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
    <style>
        #languageOptions{
            padding-bottom:0px; 
            padding-top:0px;
        }
    </style>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">{{'LanguageTitle' | translate}}</h1>      
    </ion-header-bar>
    <ion-content>      
        <div class="list">               
            <label class="item" id="languageOptions">
                <button class="button button-block button-stable" ng-click="ChangeLanguage('es')">
                    {{'LanguageOptionSpanish' | translate}}
                </button>                                
            </label>
            <label class="item" id="languageOptions">
                <button class="button button-block button-stable" ng-click="ChangeLanguage('en')">
                    {{'LanguageOptionEnglish' | translate}}
                </button>      
             </label>
            <label class="item">
                <button class="button button-block button-positive" ng-click="languageOptionsModal.hide()">
                    {{'CloseOption' | translate}}
                </button>
            </label>
        </div>      
    </ion-content>
  </ion-modal-view>