<ion-view view-title="Main Help">
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" href="#/app/planBHelp">
        <img src="img/mainHelp/lives_in_the_balance.png">
        Plan B
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/mainHelp/thermometer.png">
        In the heat of the moment
      </a>
      <a class="item item-thumbnail-left" href="#/app/faq">
        <img src="img/mainHelp/faq.png">
        F.A.Q.
      </a>
    </div>
  </ion-content>
</ion-view>
