<ion-view view-title="Main Help">
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" href="#/app/helpCategories">
        <img src="img/mainHelp/icon-helpstep1.png">
        Empathy Step
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/mainHelp/icon-helpStep2.png">
        Define Adult's Concern
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/mainHelp/icon-helpStep3.png">
        Invitation Step
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-thermometer"></i>
        In the heat of the moment
      </a>
      <a class="item item-icon-left" href="#/app/faq">
        <i class="icon ion-ios-help"></i>
        F.A.Q.
      </a>
    </div>
  </ion-content>
</ion-view>
