<ion-view cache-view="false" view-title="Plan B">
  <ion-content ng-controller="UnsolvedProblemCtrl">

    <div ng-init="updateUnsolvedProblems()">
      <div class="item item-divider item-text-wrap">
        <a class="watchlist_menu button button-small button-clear button-positive" ng-show="unsolvedProblems.length > 1" ng-click="shouldShowReorder = !shouldShowReorder">  <i ng-class="(shouldShowReorder) ? 'icon ion-archive' : 'icon ion-shuffle'"></i></a>
        <a ng-click="openModalCreate()" class="watchlist_menu button button-small button-clear button-positive">
          <i class="icon ion-plus"></i>
        </a>
        <div class="col col-75">
          <h2><b>Unsolved Problems</b></h2>
        </div>
      </div>
      <ion-list show-delete="false" can-swipe="true" show-reorder="shouldShowReorder">
          <ion-item class="item-text-wrap item-icon-right" ng-repeat="unsolvedProblem in unsolvedProblems">
            <a href="#/app/unsolvedProblem/show/{{unsolvedProblem.id}}" class="no-text-decoration">
              <div name="content">
                <p>{{unsolvedProblem.unsolved_score}} -- {{unsolvedProblem.description}}</p>
                <i class="icon dark ion-chevron-right"></i>
              </div>
            </a>
            <ion-option-button class="button button-balanced ion-edit" ng-click="editUnsolvedProblem(unsolvedProblem)" ng-hide="{{shouldShowReorder}}">&nbsp;Edit</ion-option-button>
            <ion-option-button ng-controller="DeleteUnsolvedProblemCtrl" class="button-positive ion-more" ng-click="showActionsheet(unsolvedProblem)">&nbsp;More </ion-option-button>
            <ion-reorder-button class="ion-navicon-round" on-reorder="moveItem(unsolvedProblem, $fromIndex, $toIndex)"> </ion-reorder-button>
          </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
