<ion-view view-title="Unsolved Problems">
  <ion-content class="padding" ng-controller="UnsolvedProblemCtrl">
    <ion-list show-delete="false" can-swipe="true">
      <ion-item class="item-text-wrap" ng-repeat="unsolvedProblem in unsolvedProblems">
        {{unsolvedProblem.description}}
        <a href="#/edit/{{item.id}}" class="button button-light icon ion-edit"></a>
        <ion-option-button ng-controller="DeleteCtrl" class="button-assertive icon ion-trash-a" ng-click="showConfirm(unsolvedProblem)"> Delete </ion-option-button>
      </ion-item>
    </ion-list>
    <div class="text-center">
      <h4>Enter new unsolved problem</h4>
    </div>
    <form>
     <label class="item item-input">
       <textarea rows=5 placeholder="Type a new unsolved problem here" ng-model="description">
       </textarea>
     </label>
     <!-- <ion-item>
       <ion-label stacked>Message</ion-label>
       <ion-textarea [(ngModel)]="description"></ion-textarea>
     </ion-item> -->
     <button class="button button-block button-positive" ng-click="create_unsolved_problem()">Create</button>
    </form>
  </ion-content>
</ion-view>
