<ion-view view-title="Plan B Help">
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" href="#/app/helpCategories">
        <img src="img/mainHelp/icon-helpstep1.png">
        Empathy Step
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="img/mainHelp/icon-helpStep2.png">
        Define Adult's Concern
      </a>
      <a class="item item-thumbnail-left" href="#/app/helpForInvitation">
        <img src="img/mainHelp/icon-helpStep3.png">
        Invitation Step
      </a>
    </div>
  </ion-content>
</ion-view>
