<ion-view view-title="Plan B Help">
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" href="#/app/helpCategories">
        <img src="img/mainHelp/detective_search.png">
        Empathy Step
      </a>
      <a class="item item-thumbnail-left" href="#/app/mainHelp/helpDefineAdultsConcern">
        <img src="img/mainHelp/note_taking.png">
        Define Adult's Concern
      </a>
      <a class="item item-thumbnail-left" href="#/app/helpForInvitation">
        <img src="img/mainHelp/problem_solving.png">
        Invitation Step
      </a>
    </div>
  </ion-content>
</ion-view>
