<ion-view cache-view="false" view-title="Empathy Step"  ng-controller="ChildsConcernsCtrl">
  <div class="bar bar-subheader bar-positive">
    <h2 class="title">{{unsolvedProblem.description}} </h2>
  </div>

  <ion-content  ng-init="findUnsolvedProblem(unsolvedProblem)"  class=" has-subheader has-tabs">
    <div class="item item-text-wrap text-center">
      <h2>I've noticed that <strong>{{unsolvedProblem.description}}</strong>, what's up?</h2>
    </div>

    <div ng-init="updateChildsConcerns()" class="padding">
        <div class="item item-divider item-text-wrap">
          <a class="watchlist_menu button button-small button-clear button-positive" ng-show="childsConcerns.length > 1 && !shouldShowReorder" ng-click="shouldShowReorder = true">  <i class="icon ion-shuffle"></i></a>
          <a class="watchlist_menu button button-small button-clear button-positive" ng-show="childsConcerns.length > 1 && shouldShowReorder" ng-click="shouldShowReorder = false">  <i class="icon ion-archive"></i></a>
          <a ng-click="openModal()" class="watchlist_menu button button-small button-clear button-positive">
            <i class="icon ion-plus"></i>
          </a>
          <div class="col col-75">
            <h2><b>List of Child's Concerns</b></h2>
          </div>
        </div>

      <ion-list can-swipe="true" show-reorder="shouldShowReorder">
        <ion-item class="item item-text-wrap item-icon-right" href="#/app/defineTheProblem/{{childsConcern.id}}" ng-repeat="childsConcern in childsConcerns">
          <p>{{childsConcern.description}} </p>
          <a href="#/app/defineTheProblem/{{childsConcern.id}}">
            <i class="icon dark ion-chevron-right"></i>
          </a>
          <ion-option-button class="button button-balanced ion-edit" ng-click="editChildsConcern(childsConcern)" ng-hide="{{shouldShowReorder}}">&nbsp;Edit</ion-option-button>
          <ion-option-button ng-click="showConfirmChildsConcern(childsConcern)" class="button-assertive ion-trash-a" >&nbsp;Delete </ion-option-button>
          <ion-reorder-button class="ion-navicon-round" on-reorder="moveItem(childsConcern, $fromIndex, $toIndex)">
          </ion-reorder-button>
        </ion-item>
        <div class="item item-text-wrap" ng-if="childsConcerns.length == 0">
          <p>No child's concern registered. Please register one above.</p>
        </div>
      </ion-list>

    </div>

    <script id="create-modal.html" type="text/ng-template">
      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title" style="left: 67px; right: 67px;">New child's concern</h1>
          <button class="button button-clear button-primary" ng-click="modalCreate.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
          <div class="list">
            <label class="item item-input">
              <textarea rows=5 placeholder="Type a new child's concern here." ng-model="childsConcern.description">
              </textarea>
            </label>
            <button class="button button-full button-positive" ng-if="!childsConcern.description.length" ng-click="createChildsConcern()" disabled>Create</button>
            <button class="button button-full button-positive" ng-if="childsConcern.description.length > 0" ng-click="createChildsConcern()">Create</button>
          </div>
        </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div></ion-content>
      </ion-modal-view>
    </script>

    <script id="edit-modal.html" type="text/ng-template">
      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title" style="left: 67px; right: 67px;">Edit child's concern</h1>
          <button class="button button-clear button-primary" ng-click="modalEdit.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
          <form>
            <label class="item item-input">
              <textarea rows=5 placeholder="Type a new child's concern here." ng-model="editableChildsConcern.description">
              </textarea>
            </label>
            <button class="button button-full button-positive" ng-if="!editableChildsConcern.description.length" ng-click="updateChildsConcern()" disabled>Save</button>
            <button class="button button-full button-positive" ng-if="editableChildsConcern.description.length > 0" ng-click="updateChildsConcern()">Save</button>
          </form>
        </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div></ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
