<ion-view cache-view="false" view-title="More About CPS">
            <ion-nav-buttons side="left">
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
        
            </ion-nav-buttons>
    <ion-content class="has-header scroll-content ionic-scroll " overflow-scroll="true" style="padding: 5%">
        <center>
            <img src="https://livesinthebalance.org/sites/default/files/bench-logo-2.png" width="100%" height="auto">
        </center>

        <h2 style="color:	rgb(59, 78, 46)">About the CPS Model</h2>
<hr>
<br>
<div ALIGN="justify" >
    <p>
        <strong>Collaborative &amp; Proactive Solutions (CPS)</strong>&nbsp;is the non-punitive, non-adversarial, trauma-informed
        model of care Dr. Greene originated and describes in his various books, including
        <em>The Explosive Child</em>,
        <em> Lost at School</em>,
        <em>Lost &amp; Found</em>, and
        <em>Raising Human Beings</em>. The CPS model is recognized as an empirically-supported, evidence-based treatment by the
        <a href="http://www.cebc4cw.org/program/collaborative-proactive-solutions-cps/detailed" target="_blank">California Evidence-Based Clearinghouse for Child Welfare</a> (CEBC).&nbsp;The model is based on the premise that
        challenging behavior occurs&nbsp;
        <em>when the expectations being placed on a kid exceed the kid’s capacity to respond adaptively, a
        </em>nd that some kids are lacking the&nbsp;
        <em>skills</em>&nbsp;to handle certain demands and expectations. So the emphasis of the model isn’t on kids'&nbsp;
        <em>challenging behavior,&nbsp;</em>which is
        <em>&nbsp;</em>– whether it’s whining, pouting, sulking, withdrawing, crying, screaming, swearing, hitting, spitting,
        biting, or worse –&nbsp;
        <em>just the manner in which they are expressing the fact that there are expectations they’re having difficulty meeting</em>.
        Nor does the model focus on psychiatric diagnoses, which are simply categories of challenging behaviors. Rather,
        the model focuses on identifying the&nbsp;
        <em>skills</em>&nbsp;the kid is lacking and the&nbsp;
        <em>expectations</em>&nbsp;he or she is having difficulty meeting (in the CPS model, those unmet expectations are referred
        to as&nbsp;
        <em>unsolved problems)</em>. Then the goal is to help kids and caregivers solve those problems rather than trying to
        modify kids' behavior through application of rewards and punishments.</p>
    <p>In the CPS model, the problem solving is of the&nbsp;
        <em>collaborative</em> and
        <em>proactive</em> variety. This is in contrast to many of the interventions that are commonly applied to kids, which
        are of the unilateral and emergent variety. The goal is to foster a
        <em>collaborative partnership</em> between adults and kids and to engage kids in solving the problems that affect their
        lives. As such, the CPS model is non-punitive and non-adversarial, decreases the likelihood of conflict, enhances
        relationships, improves communication, and helps kids and adults learn and display the skills on the more positive
        side of human nature: empathy, appreciating how one’s behavior is affecting others, resolving disagreements in ways
        that do not involve conflict, taking another’s perspective, and honesty. Here are some of the important questions
        answered by the model:</p>
    <p>
        <strong>
            <em>Why</em>&nbsp;are challenging kids challenging?</strong>&nbsp;
        <br>Because they're lacking the skills not to be challenging. If they had the skills, they wouldn't be challenging. That's
        because – and here is perhaps the key theme of the model --&nbsp;
        <em>Kids do well if they can</em>. And because (here's another key theme)&nbsp;
        <em>Doing well is always preferable to not doing well </em>(but only if a kid has the skills to do well in the first
        place)
        <em>.</em>&nbsp;This, of course, is a dramatic departure from the view of challenging kids as attention-seeking, manipulative,
        coercive, limit-testing, and poorly motivated. It's a completely different set of lenses, supported by research in
        the neurosciences over the past 30-40 years, and it has dramatic implications for how caregivers go about helping
        such kids.</p>
    <p>
        <strong>
            <em>When</em>&nbsp;are challenging kids challenging?</strong>
    </p>
    <p>When the demands or expectations being placed upon them exceed the skills that they have to respond adaptively. Of course,
        that's when everyone looks bad: when they're lacking the skills to look good. For example, if a particular homework
        assignment demands skills that a kid is lacking, then that homework assignment is likely to set in motion challenging
        behavior. If participating appropriately in circle time at school demands skills that a kid is lacking, then the
        likelihood of challenging behavior is heightened when the kid is supposed to be sitting in circle time. Naturally,
        if the kid could complete the homework assignment and participate in circle time appropriately, he would complete
        the homework assignment and sit in circle time appropriately. Thus, an important goal is to identify the skills a
        challenging kid is lacking. An even more important goal is to identify the specific conditions or situations in which
        a challenging behavior is occurring in a particular challenging kid. In Dr. Greene's model, these conditions are
        referred to as unsolved problems and they tend to be highly predictable. Identifying lagging skills and unsolved
        problems is accomplished through use of an instrument called the&nbsp;
        <em>Assessment of Lagging Skills and Unsolved Problems</em>&nbsp;(ALSUP). You can find the ALSUP in the Paperwork section
        of this website.</p>
    <p>
        <strong>
            <em>What</em>&nbsp;behaviors do challenging kids exhibit when they don't have the skills to respond adaptively to
            certain demands?</strong>
    </p>
    <p>Challenging kids let us know they're struggling to meet demands and expectations in some fairly common ways: whining,
        pouting, sulking, withdrawing, crying, screaming, swearing, hitting, spitting, kicking, throwing, breaking, lying,
        stealing, and so forth. But what a kid does when he's having trouble meeting demands and expectations isn't the most
        important part (though it may feel that way)…why and when s/he's doing these things are much more important.</p>
    <p>
        <strong>
            <em>What</em>&nbsp;should we be doing differently to help these kids better than we're helping them now?</strong>
    </p>
    <p>If challenging behavior is set in motion by lagging skills and not lagging motivation, then it's easy to understand why
        rewarding and punishing a kid may not make things better. Since challenging behavior occurs in response to highly
        predictable unsolved problems, then challenging kids – and the rest of us – would probably be a whole lot better
        off if we tried to solve those problems. But if we solve them unilaterally, through imposition of adult will (something
        referred to as Plan A), then we'll only increase the likelihood of challenging episodes and we won't solve any problems
        durably. Better to solve those problems collaboratively (Plan B) so the kid is a fully invested in solving the problems,
        solutions are more durable, and (over time) the kid -- and often the adults as well -- learn the skills they were
        lacking all along. Plan B involves three basic ingredients. The first ingredient – called the Empathy step – involves
        gathering information so as to achieve the clearest understanding of the kid's concern or perspective about a given
        unsolved problem. The second ingredient (called the Define the Problem step) involves entering the adult concern
        or perspective on the same unsolved problem into consideration. The third ingredient (called the Invitation step)
        involves having the adult and kid brainstorm solutions so as to arrive at a plan of action that is both realistic
        and mutually satisfactory…in other words, a solution that addresses both concerns and that both parties can actually
        do.</p>
    <p>
        <strong>
            <em>Where</em>&nbsp;has the model been applied?</strong>
    </p>
    <p>In countless families, schools, inpatient psychiatry units, group homes, residential facilities, and juvenile detention
        facilities, the model has been shown to be an effective way to reduce conflict and teach kids the skills they need
        to function adaptively in the real world.</p>
    <p>
        <strong>
            <em>Where</em>&nbsp;can I learn more about Plan B and Dr. Greene's model?</strong>
    </p>
    <p>This website is a very good place to start, especially the Walking Tours...there's one for
        <a href="parents-families" target="_blank">parents</a> and another for
        <a href="educators-schools" target="_blank">educators</a>. Various books, CDs, and DVDs describing the model are available in the&nbsp;
        <a href="http://www.cpsinitiative.com/products" target="_blank">CPS Store</a>.</p>
    <p>
        <strong>Is there a one-page description of the model that I can download?</strong>
    </p>
    <p>Glad you asked! &nbsp;Just&nbsp;
        <a href="http://www.livesinthebalance.org/sites/default/files/FAQ%20020816.pdf" target="_blank">click here</a>&nbsp;to print it. &nbsp;</p>
    <p>
        <strong>Why the name change?</strong>
    </p>
    <p>Dr. Greene originally referred to his model as "Collaborative Problem Solving," but he changed the name to
        <em>
            <strong>Collaborative &amp; Proactive Solutions (CPS)</strong>
        </em>. Read more&nbsp;
        <a href="http://cpsconnection.com/interview-dr-ross-greene" target="_blank">here</a>.</p>
</div>
        <center>
            <img src="img/DrGreeneWeb.jpg" width="70%" height="auto" align="center">
        </center>
        <br>
        <hr>
        <br>
        <p>All content on this website &copy; Ross W. Greene, Ph.D., 2018</p>
        
        

    </ion-content>
</ion-view>