<ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{'EditUnsolvedProblem' | translate }}</h1>
    <button class="button button-clear button-primary" ng-click="closeModalEdit()">{{'CancelOption' | translate }}</button>
  </ion-header-bar>
  <ion-content class="padding scroll-content ionic-scroll  has-header"><div class="scroll modal-animation">
    <form>
      <label class="item item-input">
        <textarea rows=5 placeholder="{{'TypeUnsolvedProblemPlaceholder' | translate }}" ng-model="editableUnsolvedProblem.description" maxlength="255">
        </textarea>
      </label>
      <button class="button button-full button-positive" ng-disabled="!editableUnsolvedProblem.description.length" ng-click="saveUnsolvedProblemChanges()">{{'SaveTitle' | translate }}</button>
    </form>
  </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out modal-animation"></div></div></ion-content>
</ion-modal-view>
