
<ion-view class="modal slide-in-up ng-enter active ng-enter-active" cache-view="false" view-title="{{'LoginTitle' | translate }}">
  <ion-content>
      <div class="list">               
          <label class="item" id="languageOptions" ng-click="openModalLogin()">
            <div class="button button-block button-positive" >
              <i>Log in</i>
            </div>
          </label>
          <label class="item" id="languageOptions" ng-click="openModalSignup()">          
            <div class="button button-block button-positive" >
              <i>{{'SignupTitle' | translate }}</i>
            </div>
          </label>
      </div>
  </ion-content>
</ion-view>
