<ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">New adult&apos;s concern</h1>
    <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding scroll-content ionic-scroll  has-header"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
    <div class="list">
      <label class="item item-input">
        <textarea rows=5 placeholder="Type a new adult's concern here." ng-model="adultsConcern.description">
        </textarea>
      </label>
      <button class="button button-full button-positive" ng-if="!adultsConcern.description.length" ng-click="createAdultsConcern()" disabled>Create</button>
      <button class="button button-full button-positive" ng-if="adultsConcern.description.length > 0" ng-click="createAdultsConcern()">Create</button>
    </div>
  </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px;"></div></div></ion-content>
</ion-modal-view>
