<ion-view view-title="FAQ" ng-controller="FaqCtrl">
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-model="searchWord">
    </label>
    <button class="button ion-close input-button button-small"
            ng-click="searchWord = ''"
            ng-show="searchWord.length">
        Clear
    </button>
  </div>
  <ion-content class="has-subheader">

    <ion-list ng-if="searchWord === ''">
      <ion-item class="item item-text-wrap" href="#/app/faq/challengingKids">
        Challenging Kids
      </ion-item>
      <ion-item class="item item-text-wrap" href="#/app/faq/model">
        General questions about CPS Model
      </ion-item>
      <ion-item class="item item-text-wrap" href="#/app/faq/plans">
        Questions about the plans
      </ion-item>
      <ion-item class="item item-text-wrap" href="#/app/faq/classroom">
        Questions about solving the problems in the classroom</ion-item>
      <ion-item class="item item-text-wrap" href="#/app/faq/policiesAndPractices">
        Questions about policies and practices
      </ion-item>
    </ion-list>

    <ion-list ng-if="searchWord.length !== 0">
      <div name="search-results-challengingKidsQuestions" ng-if="searchResults.challengingKidsQuestions.length !== 0">
        <ion-item class="item item-divider">
          <b>Challenging Kids</b>
        </ion-item>
        <ion-list>
          <div ng-repeat="question in challengingKidsQuestions | filter: searchWord">
            <ion-item class="item item-text-wrap"
                      ng-click="toggleQuestion(question)"
                      ng-class="{active: isQuestionShown(question)}">
                <i class="icon" ng-class="isQuestionShown(question) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              {{question.question}}
            </ion-item>
            <ion-item class="item-accordion item-text-wrap"
                      ng-show="isQuestionShown(question)">
              {{question.answer}}
            </ion-item>
          </div>
        </ion-list>
      </div>

      <div name="search-results-modelQuestions" ng-if="searchResults.modelQuestions.length !== 0">
        <ion-item class="item item-divider">
          <b>General questions about CPS Model</b>
        </ion-item>
        <ion-list>
          <div ng-repeat="question in modelQuestions | filter: searchWord">
            <ion-item class="item item-text-wrap"
                      ng-click="toggleQuestion(question)"
                      ng-class="{active: isQuestionShown(question)}">
                <i class="icon" ng-class="isQuestionShown(question) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              {{question.question}}
            </ion-item>
            <ion-item class="item-accordion item-text-wrap"
                      ng-show="isQuestionShown(question)">
              {{question.answer}}
            </ion-item>
          </div>
        </ion-list>
      </div>
      </div>

      <div name="search-results-plansQuestions" ng-if="searchResults.plansQuestions.length !== 0">
        <ion-item class="item item-divider">
          <b>Questions about the plans</b>
        </ion-item>
        <ion-list>
          <div ng-repeat="question in plansQuestions | filter: searchWord">
            <ion-item class="item item-text-wrap"
                      ng-click="toggleQuestion(question)"
                      ng-class="{active: isQuestionShown(question)}">
                <i class="icon" ng-class="isQuestionShown(question) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              {{question.question}}
            </ion-item>
            <ion-item class="item-accordion item-text-wrap"
                      ng-show="isQuestionShown(question)">
              {{question.answer}}
            </ion-item>
          </div>
        </ion-list>
      </div>
      </div>

      <div name="search-results-classroomQuestions" ng-if="searchResults.classroomQuestions.length !== 0">
        <ion-item class="item item-divider">
          <b>Questions about solving the problems in the classroom</b>
        </ion-item>
        <ion-list>
          <div ng-repeat="question in classroomQuestions | filter: searchWord">
            <ion-item class="item item-text-wrap"
                      ng-click="toggleQuestion(question)"
                      ng-class="{active: isQuestionShown(question)}">
                <i class="icon" ng-class="isQuestionShown(question) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              {{question.question}}
            </ion-item>
            <ion-item class="item-accordion item-text-wrap"
                      ng-show="isQuestionShown(question)">
              {{question.answer}}
            </ion-item>
          </div>
        </ion-list>
      </div>
      </div>

      <div name="search-results-policiesAndPracticesQuestions" ng-if="searchResults.policiesAndPracticesQuestions.length !== 0">
        <ion-item class="item item-divider">
          <b>Questions about policies and practices</b>
        </ion-item>
        <ion-list>
          <div ng-repeat="question in policiesAndPracticesQuestions | filter: searchWord">
            <ion-item class="item item-text-wrap"
                      ng-click="toggleQuestion(question)"
                      ng-class="{active: isQuestionShown(question)}">
                <i class="icon" ng-class="isQuestionShown(question) ? 'ion-minus' : 'ion-plus'"></i>
              &nbsp;
              {{question.question}}
            </ion-item>
            <ion-item class="item-accordion item-text-wrap"
                      ng-show="isQuestionShown(question)">
              {{question.answer}}
            </ion-item>
          </div>
        </ion-list>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
