<ion-view view-title="FAQ">
  <ion-content>
    <ion-list>
      <ion-item class="item item-text-wrap" href="#/app/faq/challengingKids">
        Challenging Kids</ion-item>
      <ion-item class="item item-text-wrap" href="#/app/faq/model">
        General questions about Dr. Greene's Model</ion-item>
      <ion-item class="item item-text-wrap" href="#/app/faq/plans">
        Questions about de plans</ion-item>
      <ion-item class="item item-text-wrap" href="#/app/faq/classroom">
        Questions about solving the problems in the classroom</ion-item>
      <ion-item class="item item-text-wrap" href="#/app/faq/policiesAndPractices">
        Questions about policies and practices</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
