<ion-view cache-view="false" view-title="Define Adult's Concern" ng-controller="AdultConcernsCrtl" on-tap="unableAnimation()">
  <div class="bar bar-subheader bar-positive item-text-wrap">
      <h2 class="title">{{unsolvedProblem.description}}</h2>
  </div>
  </div>
  <ion-content  ng-init="findChildConcern();findUnsolvedProblem();showAdultsConcernHint()"  class="has-subheader has-tabs" on-swipe-left="selectTabWithIndex(2)" on-swipe-right="selectTabWithIndex(0)">
    <div class="list">
        <div class="item item-divider">
          My worry is...
        </div>
 		</div>
    <div class="padding">
      <div class="item item-divider item-text-wrap">
        <a ng-click="openModal()" class="watchlist_menu button button-small button-clear button-positive">
          <i class="icon ion-plus"></i>
        </a>
        <a class="watchlist_menu button button-small button-clear button-positive icon ion-help-circled" href="#/app/mainHelp/helpDefineAdultsConcern"></a>
        <div class="col col-75">
          <h2><b>List of Adult's Concerns</b></h2>
        </div>
      </div>
      <ion-list>
        <div ng-hide="hideFakeButtons()" class="fake-buttons">
          <button class="item-options item fake-button button button-balanced ion-edit"></button>
          <button class="item-options item fake-button button button-assertive ion-trash-a"></button>
        </div>
        <ion-item class="item item-text-wrap item-icon-right" href="#/app/invitation/{{unsolvedProblem.id}}" ng-repeat="adultsConcern in adultsConcerns" ng-class="{ slidein: $first && !firstItemAnimationShown}">
          <p>{{adultsConcern.description}}</p>
          <i class="icon dark ion-chevron-right"></i>
          <ion-option-button class="button button-balanced ion-edit" ng-click="editAdultsConcern(adultsConcern)"></ion-option-button>
          <ion-option-button ng-click="showDeleteConfirmationPopup(adultsConcern)" class="button-assertive ion-trash-a" ></ion-option-button>
        </ion-item>
        <div class="item item-text-wrap" ng-if="adultsConcerns.length == 0">
          <p>No adult's concern registered. Please register one above.</p>
        </div>
      </ion-list>
    </div>

  </ion-content>
  <div class="footer" >
    <ion-tabs class="tabs-positive tabs-icon-top" delegate-handle="myTabs" >
      <ion-tab ng-click="selectTabWithIndex(0)" title="Empathy Step" icon-on="step1" icon-off="step1">
      </ion-tab>

      <ion-tab ng-click="selectTabWithIndex(1)" title="Define Adult's Concern" icon-on="step2" icon-off="step2" >
      </ion-tab>

      <ion-tab ng-click="selectTabWithIndex(2)" title="Invitation Step" icon-on="step3" icon-off="step3">
      </ion-tab>
    </ion-tabs>
  </div>
</ion-view>
