<ion-view cache-view="false" title="{{'DefineAdultsConcern' | translate }}" ng-controller="AdultConcernsCrtl" on-tap="unableAnimation()">
  <div ng-if="sharedChild == 0">
    <div class="bar bar-subheader bar-positive item-text-wrap">
      <h2 class=" col col-90 title">{{unsolvedProblem.description}}</h2>
      <a class="button button-small button-clear button-white icon ion-help-circled" href="#/app/mainHelp/helpDefineAdultsConcern"></a>
    </div>
    <ion-content ng-init="findChildConcern();findUnsolvedProblem();showAdultsConcernHint();googleAnalyticsView()" class="has-subheader has-tabs"
      on-swipe-left="selectTabWithIndex(2)" on-swipe-right="selectTabWithIndex(0)">
      <div class="list">
        <div class="item item-divider">
          {{'DefineAdultsConcernDescription' | translate }}
        </div>
      </div>
      <div class="padding">
        <div class="item item-divider item-text-wrap">
          <a ng-click="openModal()" class="watchlist_menu button button-small button-clear button-positive">
            <i class="icon ion-plus"></i>
          </a>
          
          <div class="col col-75">
            <h2>
              <b>{{'ListAdultsConcern' | translate }}</b>
            </h2>
          </div>
        </div>
        <ion-list>
          <div ng-hide="hideFakeButtons()" class="fake-buttons">
            <button class="item-options item fake-button button button-balanced ion-edit"></button>
            <button class="item-options item fake-button button button-assertive ion-trash-a"></button>
          </div>
          <ion-item class="item item-text-wrap item-icon-right" ng-click="verifyToGoToStep3({{unsolvedProblem.id}})"  ng-repeat="adultsConcern in adultsConcerns"
            ng-class="{ slidein: $first && !firstItemAnimationShown}">
            <p>{{adultsConcern.description}}</p>
            <i class="icon dark ion-chevron-right"></i>
            <ion-option-button class="button button-balanced ion-edit" ng-click="editAdultsConcern(adultsConcern)"></ion-option-button>
            <ion-option-button ng-click="showDeleteConfirmationPopup(adultsConcern)" class="button-assertive ion-trash-a"></ion-option-button>
          </ion-item>
          <div class="item item-text-wrap" ng-if="adultsConcerns.length == 0">
            <p>{{'MessageAdultsConcernNotRegistred' | translate }}</p>
          </div>
        </ion-list>
      </div>
    
    </ion-content>
    <div class="footer">
      <ion-tabs class="tabs-positive tabs-icon-top" delegate-handle="myTabs">
        <ion-tab ng-click="selectTabWithIndex(0)" title="{{'EmpathyStep' | translate }}" icon-on="step1" icon-off="step1">
        </ion-tab>
    
        <ion-tab ng-click="selectTabWithIndex(1)" title="{{'DefineAdultsConcern' | translate }}" icon-on="step2" icon-off="step2">
        </ion-tab>
    
        <ion-tab ng-click="selectTabWithIndex(2)" title="{{'InvitationStep' | translate }}" icon-on="step3" icon-off="step3">
        </ion-tab>
      </ion-tabs>
    </div>
  </div>

  <!--Shared Adult concern view-->

  <div ng-if="sharedChild > 0" ng-init="getSharedAdultConcerns(childFromShared.user_id,childFromShared.child_id,unsolvedProblemIDapp)">
    <div class="bar bar-subheader bar-positive item-text-wrap">
      <h2 class="title">{{unsolvedProblemFromShared.description}}</h2>
    </div>
    <ion-content class="has-subheader has-tabs" on-swipe-left="selectTabWithIndexShared(2)" on-swipe-right="selectTabWithIndexShared(0)">
      <div class="list">
        <div class="item item-divider">
          {{'DefineAdultsConcernDescription' | translate }}
        </div>
      </div>
      <div class="padding">
        <div class="item item-divider item-text-wrap">
          <div class="col col-75">
            <h2>
              <b>{{'ListAdultsConcern' | translate }}</b>
            </h2>
          </div>
        </div>
        <ion-list>
          <ion-item class="item item-text-wrap item-icon-right" ng-click="selectTabWithIndexShared(2)" ng-repeat="sharedAdult in sharedAdultConcerns"
            ng-class="{ slidein: $first && !firstItemAnimationShown}">
            <p>{{sharedAdult.description}}</p>
            <i class="icon dark ion-chevron-right"></i>
          </ion-item>
          <div class="item item-text-wrap" ng-if="sharedAdultConcerns.length == 0">
            <p>{{'MessageAdultsConcernNotRegistred' | translate }}</p>
          </div>
        </ion-list>
      </div>
    
    </ion-content>
    <div class="footer">
      <ion-tabs class="tabs-positive tabs-icon-top" delegate-handle="myTabs">
        <ion-tab ng-click="selectTabWithIndexShared(0)" title="{{'EmpathyStep' | translate }}" icon-on="step1" icon-off="step1">
        </ion-tab>
    
        <ion-tab ng-click="selectTabWithIndexShared(1)" title="{{'DefineAdultsConcern' | translate }}" icon-on="step2" icon-off="step2">
        </ion-tab>
    
        <ion-tab ng-click="selectTabWithIndexShared(2)" title="{{'InvitationStep' | translate }}" icon-on="step3" icon-off="step3">
        </ion-tab>
      </ion-tabs>
    </div>
  </div>
  
</ion-view>
