<ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active" style=" height: 45%;">
    
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Empathy Step Hint</h1>
      </ion-header-bar>
    
      <ion-content class="padding scroll-content   has-header ">
        <div>
          <p style = "font-size:18px">Drag to edit or delete a Child concern
          </p>
        </div>
        <button class="button button-full button-positive" ng-click="closeModalHint()">{{'Got_It' | translate }}!</button>
        <button class="button button-full button-positive" ng-click="goToAlsupHelp()">{{ 'Tell_me_more' |translate }}</button>
      </ion-content>
    
</ion-modal-view>