<ion-view cache-view="false" view-title="{{'InvitationStep' | translate }}" ng-controller="InvitationCtrl" on-tap="unableAnimation()">
  <div ng-if="sharedChild == 0">
    <div class="bar bar-subheader bar-positive">
      <h2 class="col col-90 title">{{unsolvedProblem.description}}</h2>
      <a class="button button-small button-clear button-white icon ion-help-circled" href="#/app/helpForInvitation"></a>
    </div>
    <ion-content class="has-tabs has-subheader" on-swipe-right="selectTabWithIndex(1)">
      <div class="item item-divider item-text-wrap">
        <div class="row">
          <div class="col col-80">
            <h2>{{'Text1InvitationStep' | translate }}</h2>
          </div>
          <div class="col col-10">
            <i ng-show="childsConcerns.length > 1 && showChilds" ng-click="shouldShowReorder = !shouldShowReorder" ng-class="(shouldShowReorder) ? 'icon-floppy' : 'icon-sort-alt-down' ;"></i>
          </div>
          <div class="col col-10">
            <i ng-if="childsConcerns.length > 1" ng-class="showChilds ? 'ion-chevron-up': 'ion-chevron-down'" ng-click="toggleChilds()"></i>
          </div>
        </div>
      </div>
      <ion-list show-reorder="shouldShowReorder">
        <div class="item item-text-wrap" ng-show="!showChilds">
          {{childsConcerns[0].description}}
        </div>
        <div ng-show="showChilds">
          <ion-item class="item item-text-wrap item-icon-right" ng-repeat="childConcern in childsConcerns">
            <p>{{childConcern.description}}</p>
            <ion-reorder-button class="ion-navicon-round" on-reorder="moveItem(childsConcern, $fromIndex, $toIndex)">
            </ion-reorder-button>
          </ion-item>
        </div>
      </ion-list>
      <ion-list>
        <div class="item item-divider item-text-wrap">
          <div class="row">
            <div class="col col-90">
              <h2>{{'Text2InvitationStep' | translate }}</h2>
            </div>
            <div class="col col-10">
              <i ng-if="adultsConcerns.length > 1" ng-class="showAdults? 'ion-chevron-up': 'ion-chevron-down'" ng-click="toggleAdults()"></i>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap" ng-show="!showAdults">
          {{adultsConcerns[0].description}}
        </div>
        <div ng-show="showAdults">
          <ion-item class="item item-text-wrap" ng-repeat="adultConcern in adultsConcerns">
            <p>{{adultConcern.description}}</p>
          </ion-item>
        </div>
        <div class="item item-divider item-text-wrap">
          <div class="col col-90">
            <h2>{{'Text3InvitationStep' | translate }}</h2>
          </div>
        </div>
      </ion-list>

      <div ng-init="" class="padding">
        <div class="item item-divider item-text-wrap">
          <a ng-click="openModal()" class="watchlist_menu button button-small button-clear button-positive">
            <i class="icon ion-plus"></i>
          </a>

          <div class="col col-75">
            <h2>
              <b>{{'ListPossibleSolutions' | translate }}</b>
            </h2>

          </div>
        </div>
        <ion-list>
          <div ng-hide="hideFakeButtons()" class="fake-buttons">
            <button class="item-options item fake-button button button-balanced ion-edit"></button>
            <button class="item-options item fake-button button button-assertive ion-trash-a"></button>
            <button class="item-options item fake-button button button-positive ion-eye"></button>
          </div>

          <ion-item class="item item-text-wrap item-icon-left item-icon-right" ng-repeat="solution in solutions" ng-class="{ slidein: $first && !firstItemAnimationShown}">

            <i class="icon {{getRatingIcon(solution)}}"></i>
            <p>{{solution.description}}</p>
            <i class="icon dark ion-chevron-right" ng-click="showRatingPopup(solution,unsolvedProblem)"></i>
            <ion-option-button class="button button-balanced ion-edit" ng-click="editSolution(solution)"></ion-option-button>
            <ion-option-button ng-click="showDeletionConfirm(solution)" class="button-assertive ion-trash-a"></ion-option-button>
            <ion-option-button ng-click="goToSolution(solution)" class="button-positive ion-eye"></ion-option-button>

          </ion-item>
          <div class="item item-text-wrap" ng-if="solutions.length == 0">
            <p>{{'MessageList' | translate }}</p>
          </div>
        </ion-list>
      </div>
    </ion-content>
    <div class="footer">
      <ion-tabs class="tabs-positive tabs-icon-top" delegate-handle="myTabs">
        <ion-tab ng-click="selectTabWithIndex(0)" title="{{'EmpathyStep' | translate }}" icon-on="step1" icon-off="step1">
        </ion-tab>

        <ion-tab ng-click="selectTabWithIndex(1)" title="{{'DefineAdultsConcern' | translate }}" icon-on="step2" icon-off="step2">
        </ion-tab>

        <ion-tab ng-click="selectTabWithIndex(2)" title="{{'InvitationStep' | translate }}" icon-on="step3" icon-off="step3">
        </ion-tab>
      </ion-tabs>
    </div>
  </div>

  <!-- Shared possible solutions view-->
    <div ng-if="sharedChild > 0">
      <div class="bar bar-subheader bar-positive" ng-init="getSharedPosibleSolutions(childFromShared.user_id,childFromShared.child_id,unsolvedProblemIDapp,unsolvedProblemID)">
        <h2 class="title">{{unsolvedProblemFromShared.description}}</h2>
      </div>
      <ion-content class="has-tabs has-subheader" on-swipe-right="selectTabWithIndexShared(1)">
        <div class="item item-divider item-text-wrap">
          <div class="row">
            <div class="col col-80">
              <h2>{{'Text1InvitationStep' | translate }}</h2>
            </div>
            <div class="col col-10">
              <i ng-show="sharedChildConcerns.length > 1 && showChilds" ></i>
            </div>
            <div class="col col-10">
              <i ng-if="sharedChildConcerns.length > 1" ng-class="showChilds ? 'ion-chevron-up': 'ion-chevron-down'" ng-click="toggleChilds()"></i>
            </div>
          </div>
        </div>
        <ion-list show-reorder="shouldShowReorder">
          <div class="item item-text-wrap" ng-show="!showChilds">
            {{sharedChildConcerns[0].description}}
          </div>
          <div ng-show="showChilds">
            <ion-item class="item item-text-wrap item-icon-right" ng-repeat="sharedchildConcern in sharedChildConcerns">
              <p>{{sharedchildConcern.description}}</p>
              <ion-reorder-button class="ion-navicon-round" on-reorder="moveItem(childsConcern, $fromIndex, $toIndex)">
              </ion-reorder-button>
            </ion-item>
          </div>
        </ion-list>
        <ion-list>
          <div class="item item-divider item-text-wrap">
            <div class="row">
              <div class="col col-90">
                <h2>{{'Text2InvitationStep' | translate }}</h2>
              </div>
              <div class="col col-10">
                <i ng-if="sharedAdultConcerns.length > 1" ng-class="showAdults? 'ion-chevron-up': 'ion-chevron-down'" ng-click="toggleAdults()"></i>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap" ng-show="!showAdults">
            {{sharedAdultConcerns[0].description}}
          </div>
          <div ng-show="showAdults">
            <ion-item class="item item-text-wrap" ng-repeat="sharedAdultConcern in sharedAdultConcerns">
              <p>{{sharedAdultConcern.description}}</p>
            </ion-item>
          </div>
          <div class="item item-divider item-text-wrap">
            <div class="col col-90">
              <h2>{{'Text3InvitationStep' | translate }}</h2>
            </div>
          </div>
        </ion-list>

        <div ng-init="" class="padding">
          <div class="item item-divider item-text-wrap">
            <div class="col col-75">
              <h2>
                <b>{{'ListPossibleSolutions' | translate }}</b>
              </h2>

            </div>
          </div>
          <ion-list>
            <ion-item ng-click="activePosibleSolution(sharedPosibleSolution)" class="item item-text-wrap item-icon-left item-icon-right" ng-repeat="sharedPosibleSolution in sharedPosibleSolutions" ng-class="{ slidein: $first && !firstItemAnimationShown}">
              <i class="icon {{getRatingIcon(sharedPosibleSolution)}}"></i>
              <p>{{sharedPosibleSolution.description}}</p>
              <a class="icon ion-eye" href="#/app/shared/solutions"></a>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
      <div class="footer">
        <ion-tabs class="tabs-positive tabs-icon-top" delegate-handle="myTabs">
          <ion-tab ng-click="selectTabWithIndexShared(0)" title="{{'EmpathyStep' | translate }}" icon-on="step1" icon-off="step1">
          </ion-tab>

          <ion-tab ng-click="selectTabWithIndexShared(1)" title="{{'DefineAdultsConcern' | translate }}" icon-on="step2" icon-off="step2">
          </ion-tab>

          <ion-tab ng-click="selectTabWithIndexShared(2)" title="{{'InvitationStep' | translate }}" icon-on="step3" icon-off="step3">
          </ion-tab>
        </ion-tabs>
      </div>
    </div>
    <script id="create-modal.html" type="text/ng-template">
      <ion-modal-view cache-view="false" class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">{{'NewPossibleSolution' | translate }}</h1>
          <button class="button button-clear button-primary" ng-click="closeModal()">{{'CancelOption' | translate }}</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header">
          <div class="scroll modal-animation">
            <div class="list">
              <div class="right">
              <button class = "button button-small button-positive" ng-click="openModalToChooseAdultConcernToChildConcern()">
                {{'RelatedTo' | translate }}
                </button>
              </div>
              <label class="item item-input">
                <textarea rows=5 placeholder="{{'PlaceHolderPossibleSolution' | translate }}" ng-model="solution.description" maxlength="255">
                </textarea>
              </label>
              <button class="button button-full button-positive" ng-if="!solution.description.length" ng-click="createSolution()" disabled>{{'CreateTitle' | translate }}</button>
              <button class="button button-full button-positive" ng-if="solution.description.length > 0" ng-click="createSolution()">{{'CreateTitle' | translate }}</button>
            </div>
          </div>
          <div class="scroll-bar scroll-bar-v">
            <div class="scroll-bar-indicator scroll-bar-fade-out modal-animation">
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>


<!--  PARA ELEGIR EL NINO Y EL CONCERN-->
<script id="choose-AdultConcern-To-ChildConcern.html" type="text/ng-template">

      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active" >

        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">{{'RelatedTo' | translate }}</h1>
          <button class="button button-clear button-primary" ng-click="closeModalToChooseAdultConcernToChildConcern()">{{'CancelOption' | translate }}</button>
        </ion-header-bar>

        <ion-content  class="padding scroll-content ionic-scroll  has-header"  >

          <div class="scroll modal-animation">

                 <ion-list radio-group  >
                    <div class=" item item-divider">
                      {{'ChildsConcerns' | translate }}
                    </div>
                    <ion-radio  name="a"  ng-model="pair.description" ng-value="childConcern.description" ng-repeat="childConcern in childsConcerns" ng-checked="true"  >{{childConcern.description}}</ion-radio>
                </ion-list>

                 <ion-list radio-group  >
                   <div class=" item item-divider">
                    {{'AdultsConcerns' | translate }}
                   </div>
                   <ion-radio name="b" ng-model="pair.description2" ng-value="adultConcern.description" ng-repeat="adultConcern in adultsConcerns" ng-checked="true">{{adultConcern.description}}</ion-radio>
                 </ion-list>

                 <button class="button button-full button-positive" ng-if="!pair.description.length || !pair.description2.length"  ng-click="closeModalToChooseAdultConcernToChildConcern()" disabled>{{'SaveTitle' | translate }}</button>
                 <button class="button button-full button-positive" ng-if="pair.description.length> 0 && pair.description2.length> 0"  ng-click="closeModalToChooseAdultConcernToChildConcern()" >{{'SaveTitle' | translate }}</button>

          </div>
          <div class="scroll-bar scroll-bar-v">
            <div class="scroll-bar-indicator scroll-bar-fade-out modal-animation">
            </div>
          </div>
        </ion-content>
      </ion-modal-view>

    </script>
<!--  FIN PARA ELEGIR EL NINO Y EL CONCERN-->




<script id="edit-AdultConcern-To-ChildConcern.html" type="text/ng-template">
    <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{'EditRelatedTo' | translate }}</h1>
        <button class="button button-clear button-primary" ng-click="closeModalEditToChooseAdultConcernToChildConcern()">{{'CancelOption' | translate }}</button>
      </ion-header-bar>

      <ion-content class="padding scroll-content ionic-scroll  has-header">

        <div class="scroll modal-animation">
               <ion-list radio-group  >
                  <div class=" item item-divider">
                    {{'ChildsConcerns' | translate }}
                  </div>
                  <ion-radio  name="a"  ng-model="editablePair.description" ng-value="childConcern.description" ng-repeat="childConcern in childsConcerns" ng-checked="true"  >{{childConcern.description}}</ion-radio>
              </ion-list>

               <ion-list radio-group  >
                 <div class=" item item-divider">
                  {{'AdultsConcerns' | translate }}
                 </div>
                 <ion-radio name="b" ng-model="editablePair.description2" ng-value="adultConcern.description" ng-repeat="adultConcern in adultsConcerns" ng-checked="true">{{adultConcern.description}}</ion-radio>
               </ion-list>

               <button class="button button-full button-positive" ng-if="!editablePair.description.length || !editablePair.description2.length"  ng-click="updatePair()" disabled>{{'SaveTitle' | translate }}</button>
               <button class="button button-full button-positive" ng-if="editablePair.description.length> 0 && editablePair.description2.length> 0"  ng-click="updatePair()" >{{'SaveTitle' | translate }}</button>
        </div>
        <div class="scroll-bar scroll-bar-v">
          <div class="scroll-bar-indicator scroll-bar-fade-out modal-animation">
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>

<!--  PARA CREAR LOS PARES CUANDO EXISTE UNA SOLUCION-->
<script id="choose-AdultConcern-To-ChildConcern-After-creating-solution-without-pairs.html" type="text/ng-template">

    <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active" >

      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{'RelatedTo' | translate }}</h1>
        <button class="button button-clear button-primary" ng-click="closeModalToChooseAdultConcernToChildConcernAfterCreatingSolution()">{{'CancelOption' | translate }}</button>
      </ion-header-bar>

      <ion-content  class="padding scroll-content ionic-scroll  has-header"  >

        <div class="scroll modal-animation">

               <ion-list radio-group  >
                  <div class=" item item-divider">
                    {{'ChildsConcerns' | translate }}
                  </div>
                  <ion-radio  name="a"  ng-model="pair.description" ng-value="childConcern.description" ng-repeat="childConcern in childsConcerns" ng-checked="true"  >{{childConcern.description}}</ion-radio>
              </ion-list>

               <ion-list radio-group  >
                 <div class=" item item-divider">
                  {{'AdultsConcerns' | translate }}
                 </div>
                 <ion-radio name="b" ng-model="pair.description2" ng-value="adultConcern.description" ng-repeat="adultConcern in adultsConcerns" ng-checked="true">{{adultConcern.description}}</ion-radio>
               </ion-list>

               <button class="button button-full button-positive" ng-if="!pair.description.length || !pair.description2.length"  ng-click="updatePair()" disabled>{{'SaveTitle' | translate }}</button>
               <button class="button button-full button-positive" ng-if="pair.description.length> 0 && pair.description2.length> 0"  ng-click="updatePair()" >{{'SaveTitle' | translate }}</button>

        </div>
        <div class="scroll-bar scroll-bar-v">
          <div class="scroll-bar-indicator scroll-bar-fade-out modal-animation">
          </div>
        </div>
      </ion-content>
    </ion-modal-view>

  </script>
<!--  FIN PARA ELEGIR EL NINO Y EL CONCERN-->

<script id="edit-modal.html" type="text/ng-template">
      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">{{'EditPossibleSolution' | translate }}</h1>
          <button class="button button-clear button-primary" ng-click="closeModalEdit()">{{'CancelOption' | translate }}</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header">
          <div class="scroll modal-animation">
            <div class="right">
            <button class = "button button-small button-positive right" ng-click="editPair(editableSolution)">
              {{'RelatedTo' | translate }}
              </button>
            </div>
            <form>

              <label class="item item-input">
                <textarea rows=5 placeholder="Agree upon a solution" ng-model="editableSolution.description" maxlength="255">
                </textarea>
              </label>
              <button class="button button-full button-positive" ng-if="!editableSolution.description.length" ng-click="updateSolution()" disabled>{{'SaveTitle' | translate }}</button>
              <button class="button button-full button-positive" ng-if="editableSolution.description.length > 0" ng-click="updateSolution()">{{'SaveTitle' | translate }}</button>
            </form>


          </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out modal-animation"></div></div>
        </ion-content>
      </ion-modal-view>
    </script>
</ion-view>


