<ion-view cache-view="false" view-title="Invitation Step" ng-controller="InvitationCtrl" on-tap="unableAnimation()">
  <div class="bar bar-subheader bar-positive">
    <h2 class="title">{{unsolvedProblem.description}}</h2>
  </div>
  <ion-content  class="has-tabs has-subheader" on-swipe-right="selectTabWithIndex(1)">
    <div class="item item-divider item-text-wrap">
      <div class="row">
        <div class="col col-80">
          <h2>I wonder if there's something we can do about...</h2>
        </div>
        <div class="col col-10">
          <i ng-show="childsConcerns.length > 1 && showChilds" ng-click="shouldShowReorder = !shouldShowReorder" ng-class="(shouldShowReorder) ? 'icon-floppy' : 'icon-sort-alt-down' ;"></i>
        </div>
        <div class="col col-10">
          <i ng-if = "childsConcerns.length > 1" ng-class="showChilds ? 'ion-ios-arrow-up': 'ion-ios-arrow-down'" ng-click="toggleChilds()"></i>
        </div>
      </div>
    </div>
    <ion-list show-reorder="shouldShowReorder">
      <div class="item item-text-wrap" ng-show="!showChilds">
        {{childsConcerns[0].description}}
      </div>
      <div ng-show="showChilds">
        <ion-item class="item item-text-wrap item-icon-right" ng-repeat="childConcern in childsConcerns" >
          <p>{{childConcern.description}}</p>
          <ion-reorder-button class="ion-navicon-round" on-reorder="moveItem(childsConcern, $fromIndex, $toIndex)">
          </ion-reorder-button>
        </ion-item>
      </div>
    </ion-list>
    <ion-list>
      <div class="item item-divider item-text-wrap">
        <div class="row">
          <div class="col col-90">
            <h2>and also do something about...</h2>
          </div>
          <div class="col col-10">
              <i ng-if = "adultsConcerns.length > 1" ng-class="showAdults? 'ion-ios-arrow-up': 'ion-ios-arrow-down'" ng-click="toggleAdults()"></i>
          </div>
        </div>
      </div>
      <div class="item item-text-wrap" ng-show="!showAdults">
        {{adultsConcerns[0].description}}
      </div>
      <div ng-show="showAdults">
        <ion-item class="item item-text-wrap" ng-repeat="adultConcern in adultsConcerns">
          <p>{{adultConcern.description}}</p>
        </ion-item>
      </div>
      <div class="item item-divider item-text-wrap">
        <div class="col col-90">
          <h2>Do you have any ideas?</h2>
        </div>
      </div>
    </ion-list>

    <div ng-init="" class="padding">
      <div class="item item-divider item-text-wrap">
        <a ng-click="openModal()" class="watchlist_menu button button-small button-clear button-positive">
          <i class="icon ion-plus"></i>
        </a>
        <a class="watchlist_menu button button-small button-clear button-positive icon ion-help-circled" href="#/app/helpForInvitation"></a>
        <div class="col col-75">
          <h2><b>List of Possible Solutions</b></h2>
        </div>
      </div>
      <ion-list>
        <div ng-hide="hideFakeButtons()" class="fake-buttons">
          <button class="item-options item fake-button button button-balanced ion-edit"></button>
          <button class="item-options item fake-button button button-assertive ion-trash-a"></button>
          <button class="item-options item fake-button button button-positive ion-eye"></button>
        </div>
        <ion-item class="item item-text-wrap item-icon-left item-icon-right" ng-repeat="solution in solutions"  ng-class="{ slidein: $first && !firstItemAnimationShown}">
          <i class="icon {{getRatingIcon(solution)}}"></i>
          <p>{{solution.description}}</p>
          <i class="icon ion-star" ng-click="showRatingPopup(solution,unsolvedProblem)"></i>
          <ion-option-button class="button button-balanced ion-edit" ng-click="editSolution(solution)"></ion-option-button>
          <ion-option-button ng-click="showDeletionConfirm(solution)" class="button-assertive ion-trash-a" ></ion-option-button>
          <ion-option-button ng-click="goToSolution(solution)" class="button-positive ion-eye" ></ion-option-button>
        </ion-item>
        <div class="item item-text-wrap" ng-if="solutions.length == 0">
          <p>No possible solutions registered. Please register one above, once you agree upon a solution.</p>
        </div>
      </ion-list>
    </div>

    <script id="create-modal.html" type="text/ng-template">
      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Possible Solution</h1>
          <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header">
          <div class="scroll modal-animation">
            <div class="list">
              <label class="item item-input">
                <textarea rows=5 placeholder="Agree upon a solution." ng-model="solution.description">
                </textarea>
              </label>
              <button class="button button-full button-positive" ng-if="!solution.description.length" ng-click="createSolution()" disabled>Create</button>
              <button class="button button-full button-positive" ng-if="solution.description.length > 0" ng-click="createSolution()">Create</button>
            </div>
          </div>
          <div class="scroll-bar scroll-bar-v">
            <div class="scroll-bar-indicator scroll-bar-fade-out modal-animation">
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="edit-modal.html" type="text/ng-template">
      <ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Edit Possible Solution</h1>
          <button class="button button-clear button-primary" ng-click="closeModalEdit()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding scroll-content ionic-scroll  has-header">
          <div class="scroll modal-animation">
            <form>
              <label class="item item-input">
                <textarea rows=5 placeholder="Agree upon a solution" ng-model="editableSolution.description">
                </textarea>
              </label>
              <button class="button button-full button-positive" ng-if="!editableSolution.description.length" ng-click="updateSolution()" disabled>Save</button>
              <button class="button button-full button-positive" ng-if="editableSolution.description.length > 0" ng-click="updateSolution()">Save</button>
            </form>
          </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out modal-animation"></div></div>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
  <div class="footer" >
    <ion-tabs class="tabs-positive tabs-icon-top" delegate-handle="myTabs">
      <ion-tab ng-click="selectTabWithIndex(0)" title="Empathy Step" icon-on="step1" icon-off="step1">
      </ion-tab>

      <ion-tab ng-click="selectTabWithIndex(1)" title="Define Adult's Concern" icon-on="step2" icon-off="step2" >
      </ion-tab>

      <ion-tab ng-click="selectTabWithIndex(2)" title="Invitation Step" icon-on="step3" icon-off="step3">
      </ion-tab>
    </ion-tabs>
  </div>
</ion-view>
