<ion-view cache-view="false" view-title="App Tutorial" ng-controller="TutorialCtrl">
    <div>
        <button class="button button-positive" ng-click="closeTutorial()">Apriétame!</button>
    </div>
        <ion-slide-box class="tutorialSlide"on-slide-changed="slideChanged(index)">
          <ion-slide>
              <img src="img/appTutorial/1.png">
          </ion-slide>
          <ion-slide>
              <img src="img/appTutorial/2.png">
          </ion-slide>
          <ion-slide>
              <img src="img/appTutorial/3.png">
          </ion-slide>
          <ion-slide>
              <img src="img/appTutorial/4.gif">
          </ion-slide>
          <ion-slide>
              <img src="img/appTutorial/5.gif">
          </ion-slide>
          <ion-slide>
            <img src="img/appTutorial/6.gif">
        </ion-slide>
        <ion-slide>
            <img src="img/appTutorial/7.gif">
        </ion-slide>
        <ion-slide>
            <img src="img/appTutorial/8.gif">
        </ion-slide>
        <ion-slide>
            <img src="img/appTutorial/9.gif">
        </ion-slide>
        <ion-slide>
            <img src="img/appTutorial/10.gif">
        </ion-slide>
        </ion-slide-box>
      </ion-view>
