<ion-view view-title="Tours" ng-controller="TourCtrl">
  <ion-content >
    <div class="list">
      <a class="item item-text-wrap item-thumbnail-left" href="#/app/unsolvedProblemTour">
        <img ng-src="img/mainHelp/tour_icon.png">
        <h2>How to use unsolved problems</h2>
      </a>
      <a class="item item-text-wrap item-thumbnail-left" href="#/app/helpAccessTour" >
        <img ng-src="img/mainHelp/tour_icon.png">
        <h2>How to use help section</h2>
      </a>
    </div>
  </ion-content>
</ion-view>
