<ion-view view-title="Tours" ng-controller="TourCtrl">
  <ion-content class="has-subheader">
    <div class="list">
      <a class="item item-text-wrap item-thumbnail-left" href="#/app/helpAccessTour" >
        <img ng-src="img/mainHelp/tour_icon.png">
        <h2>Tour how to access Help</h2>
      </a>
      <a class="item item-text-wrap item-thumbnail-left" href="#/app/unsolvedProblemTour">
        <img ng-src="img/mainHelp/tour_icon.png">
        <h2>Unsolved Problems Tour</h2>
      </a>
    </div>
  </ion-content>
</ion-view>
