<ion-view view-title="Tours" ng-controller="TourCtrl">
  <div class="bar bar-subheader bar-positive item-text-wrap">
    <h2 class="title">ALSUP</h2>
  </div>
  <ion-content class="has-subheader">
    <div class="list">
      <a class="item item-icon-left"  href="#/app/helpAccessTour">
        <img src="img/mainHelp/tour_icon.png" style="width: 50px; height:50px; align:left">
        Tour how to access Help
      </a>
      <a class="item item-icon-left" ng-click="UnsolvedProblemsTutorial()">
        <img src="img/mainHelp/tour_icon.png" style="width: 50px; height:50px; align:left" >
        Unsolved Problems Tour
      </a>
    </div>
  </ion-content>
</ion-view>
