<ion-view view-title="Tutorial" ng-controller="TourCtrl">
        <ion-nav-buttons side="left">

          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Previous
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 7">
            Next
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 7">
            Finish
          </button>
        </ion-nav-buttons>

        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
            <h3>Welcome to the Unsolved Problems!</h3>
            <div id="logo">
              <img src="http://code.ionicframework.com/assets/img/app_icon.png">
            </div>
            <p>
              Once you have selected a Lagging Skill you can create an Unsolved Problem.
            </p>
            <p>
              Now we are going to show you how you can do it.
            </p>
          </ion-slide>
          <ion-slide>
            <h3>Icons used in this Step</h3>

            <div id="list">
              <ul>
                <li><i class="icon ion-plus positive"></i> This icon allows you to add a new Unsolved Problem to the current list.</li>
                <li><i class="icon ion-edit balanced"></i> This icon allows you to edit the current Unsolved Problem.</li>
                <li><i class="icon ion-trash-a assertive"></i> This icon allows you to delete the current Unsolved Problem.</li>
                <li><i class="icon icon-sort-alt-down positive"></i> This icon allows you prioritize the Unsolved Problems.</li>
                <li><i class="icon icon-floppy positive"></i> This icon allows you to save the changes of priorization you've made on the Unsolved Problems.</li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide>
            <h3>Add an Unsolved Problem</h3>

            <div id="list">
              <h5>Just three steps:</h5>
              <ol>
                <li>Tap on the <i class="icon ion-plus positive"></i>  icon</li>
                <li>Fill the input.</li>
                <li>Tap on create button.</li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide>
            <h3>Edit an Unsolved Problem</h3>

            <div id="list">
              <h5>Just four steps:</h5>
              <ol>
                <li>Swipe the Unsolved Problem to the left to see the options.</li>
                <li>Tap on the <i class="icon ion-edit balanced"></i> icon</li>
                <li>Edit the Unsolved Problem.</li>
                <li>Tap on the Save button.</li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide>
            <h3>Delete an Unsolved Problem</h3>

            <div id="list">
              <h5>Just three steps:</h5>
              <ol>
                <li>Swipe the Unsolved Problem to the left to see the options.</li>
                <li>Tap on the <i class="icon ion-trash-a assertive"></i> icon</li>
                <li>Tap OK in order to confirm the action.</li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide>
            <h3>Prioritize the Unsolved Problems</h3>

            <div id="list">
              <h5>Just three steps:</h5>
              <ol>
                <li>Tap on <i class="icon icon-sort-alt-down positive"></i> icon to enable the drag & drop option.</li>
                <li>Tap over <i class="icon ion-navicon-round positive"></i> icon and drag up or down an Unsolved Problem to prioritize it.</li>
                <li>Tap on <i class="icon icon-floppy positive"></i> icon to save the changes.</li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide>
            <h3>Start the Plan B</h3>

            <div id="list">
              <h5>Just one step:</h5>
              <ol>
                <li>Tap on one Unsolved Problem.</li>
                <li>Or Swipe to the left to see options.</li>
                <li>Tap on the <i class="icon ion-more positive"></i> icon</li>
                <li>And tap the First Step: Empathy Step.</li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide>
            <h3>Any questions?</h3>
            <p>
              You can click the help <i class="icon ion-help-circled positive"></i> icon.
            </p>
          </ion-slide>
        </ion-slide-box>
      </ion-view>
