<ion-view cache-view="false" view-title="Lagging Skills">
  <div class="bar bar-subheader bar-positive item-text-wrap">
    <h2 class="title">{{activeChild.first_name}}</h2>
    <a class=" button button-small button-clear button-white icon ion-help-circled" ng-click = "laggingSkillsHint()"></a>
  </div>
  <ion-content class="has-subheader" ng-init="googleAnalyticsView()">
    <ion-list>
      <ion-item class="item item-text-wrap item-icon-right" ng-repeat="laggingSkill in laggingSkills" href="#/app/unsolvedProblems/new/{{laggingSkill.id}}">
          <div class="positive" ng-if="laggingSkill.checked">
            {{laggingSkill.description}}
          </div>
          <div class="dark" ng-if="!laggingSkill.checked">
            {{laggingSkill.description}}
          </div>
          <a href="#/app/unsolvedProblems/new">
            <i class="icon dark ion-chevron-right" ng-if="laggingSkill.checked === 0"></i>
            <i class="icon positive ion-chevron-right" ng-if="laggingSkill.checked === 1"></i>
          </a>
        <ion-option-button class="button-positive ion-checkmark" ng-click="checkLaggingSkill({{laggingSkill.id}})" ng-if="!laggingSkill.checked">&nbsp;Check</ion-option-button>
        <ion-option-button class="button-dark ion-close" ng-click="uncheckLaggingSkill({{laggingSkill.id}})" ng-if="laggingSkill.checked">&nbsp;Uncheck</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
