<ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{'NewChildsConcern' | translate }}</h1>
    <button class="button button-clear button-primary" ng-click="closeModal()">{{'CancelOption' | translate }}</button>
  </ion-header-bar>
  <ion-content class="padding scroll-content ionic-scroll  has-header"><div class="scroll modal-animation">
    <div class="list">
      <label class="item item-input">
        <textarea rows=5 placeholder="{{'TypeChildsConcernPlaceholder' | translate }}" ng-model="childsConcern.description" maxlength="255">
        </textarea>
      </label>
      <button class="button button-full button-positive" ng-if="!childsConcern.description.length" ng-click="createChildsConcern()" disabled>{{'CreateTitle' | translate }}</button>
      <button class="button button-full button-positive" ng-if="childsConcern.description.length > 0" ng-click="createChildsConcern()">{{'CreateTitle' | translate }}</button>
    </div>
  </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out modal-animation"></div></div></ion-content>
</ion-modal-view>
