<ion-view view-title="Plan B Help">
    <ion-content ng-controller="AlsupCtrl">
        <div class="list">
            <a class="item item-thumbnail-left" href="#/app/helpCategories">
                <img src="img/mainHelp/icon-step1.png"> Empathy Step
            </a>
            <a class="item item-thumbnail-left" href="#/app/mainHelp/helpDefineAdultsConcern">
                <img src="img/mainHelp/icon-step2.png"> Define Adult's Concern
            </a>
            <a class="item item-thumbnail-left" href="#/app/helpForInvitation">
                <img src="img/mainHelp/icon-step3.png"> Invitation Step
            </a>
            <ion-item class="item item-thumbnail-left" ng-click="browserInstance.openBrowser('http://www.livesinthebalance.org/plan-b-family#overlay-context=walking-tour-parents')">
                <img src="img/planBHelp/video.png"> Video of plan B in action
            </ion-item>
        </div>
    </ion-content>
</ion-view>