<ion-view view-title="{{category.name | translate}}">
  <div ng-show="isEnglish()">
    <div class="bar bar-subheader item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="{{'SearchText' | translate }}" ng-model="searchWord">
      </label>
      <button class="button ion-close input-button button-small" ng-click="searchWord = ''" ng-show="searchWord.length">
        {{'OptionClear' | translate }}
      </button>
    </div>
    <ion-content class="has-subheader">
      <div class="list">
        <div ng-repeat="topic in category.topics | filter: searchWord">
          <a class="item item-text-wrap item-icon-right" href="#/app/helpTopicContent/{{category.id}}/{{topic.id}}" ng-if="topic.contents.length > 0 && !topic.link">
            <i class="icon ion-chevron-right"></i>
            <h3>{{topic.description}}</h3>
          </a>
          <div class="item item-text-wrap item-icon-right" ng-if="!topic.contents && !topic.link">
            <h3>{{topic.description}}</h3>
          </div>
          <a class="item item-text-wrap item-icon-right" ng-click="browserInstance.openBrowser(topic.link)" ng-if="topic.link.length > 0  && !topic.contents">
            <i class="icon ion-ios-browsers-outline"></i>
            <h3>{{topic.description}}</h3>
          </a>
        </div>
  
      </div>
  
    </ion-content>
</div>

  <div ng-show="isSpanish()">
    <div class="bar bar-subheader item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="{{'SearchText' | translate }}" ng-model="searchWord">
      </label>
      <button class="button ion-close input-button button-small" ng-click="searchWord = ''" ng-show="searchWord.length">
        {{'OptionClear' | translate }}
      </button>
    </div>
    <ion-content class="has-subheader">
      <div class="list">
        <div ng-repeat="topic in categoryEs.topics | filter: searchWord">
          <a class="item item-text-wrap item-icon-right" href="#/app/helpTopicContent/{{categoryEs.id}}/{{topic.id}}" ng-if="topic.contents.length > 0 && !topic.link">
            <i class="icon ion-chevron-right"></i>
            <h3>{{topic.description}}</h3>
          </a>
          <div class="item item-text-wrap item-icon-right" ng-if="!topic.contents && !topic.link">
            <h3>{{topic.description}}</h3>
          </div>
          <a class="item item-text-wrap item-icon-right" ng-click="browserInstance.openBrowser(topic.link)" ng-if="topic.link.length > 0  && !topic.contents">
            <i class="icon ion-ios-browsers-outline"></i>
            <h3>{{topic.description}}</h3>
          </a>
        </div>

      </div>

    </ion-content>
  </div>
</ion-view>
