<ion-view view-title= "{{'MainHelpTitle' | translate }}">
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="{{'SearchText' | translate }}" ng-model="searchWord">
    </label>
    <button class="button ion-close input-button button-small"
            ng-click="searchWord = ''"
            ng-show="searchWord.length">
            {{'OptionClear' | translate }}
    </button>
  </div>
  <ion-content class="has-subheader" ng-init="googleAnalyticsForMainHelp()">
    <div class="list" ng-if="searchWord.length === 0">

      <a class="item item-thumbnail-left" href="#/app/alsupHelp">
        <img src="img/mainHelp/icon-alsup-help.png">
        {{'ALSUPHelpOption' | translate }}
      </a>
      <a class="item item-thumbnail-left" href="#/app/planBHelp">
        <img src="img/mainHelp/lives_in_the_balance.jpg">
        Plan B
      </a>
      <a class="item item-thumbnail-left" href="#/app/faq">
        <img src="img/mainHelp/faq.png">
        {{'FAQOption' | translate}}
      </a>
      <a class="item item-thumbnail-left" href="#/app/inTheHeatOfTheMoment">
        <img src="img/mainHelp/thermometer.png">
        {{'InTheHeatMomentOption'| translate}}
      </a>      
    </div>

    <ion-list ng-if="searchWord.length !== 0">
      <div name="search-results-step1" ng-if="searchResults.step1.length !== 0">
        <ion-item class="item item-icon-left outside-list">
          <img class="icon padding image-icon" src="img/mainHelp/icon-helpstep1.png">
          <b>Empathy Step</b>
        </ion-item>
        <ion-list>
          <div ng-repeat="result in searchResults.step1">
            <a class="item  item-icon-right" href="#/app/helpTopicContent/{{result.categoryId}}/{{result.topicId}}">
              <h2>{{result.description}}</h2>
              <i class="icon ion-chevron-right"></i>
            </a>
          </div>
        </ion-list>
      </div>

      <div name="search-results-step2" ng-if="searchResults.step2.length !== 0">
        <ion-item class="item item-icon-left outside-list">
          <img class="icon padding image-icon" src="img/mainHelp/icon-helpStep2.png">
          <b>Define Adult's Concerns</b>
        </ion-item>
        <ion-list>
          <ion-item class="item item-text-wrap item-icon-right" ng-repeat="result in searchResults.step2">
            <div ng-click="goToHelpStep2(searchWord)">
              <h2>{{result.title}}</h2>
              <p>{{result.content}}</p>
              <i class="icon ion-chevron-right"></i>
            </div>
          </ion-item>
        </ion-list>
      </div>

      <div name="search-results-step3" ng-if="searchResults.step3.length !== 0">
        <ion-item class="item item-icon-left outside-list">
          <img class="icon padding image-icon" src="img/mainHelp/icon-helpStep3.png">
          <b>Invitation Step</b>
        </ion-item>
        <ion-list>
          <ion-item class="item item-text-wrap" ng-repeat="result in searchResults.step3">
            <p>{{result}}</p>
          </ion-item>
        </ion-list>
      </div>

      <div name="search-results">
        <ion-item class="item item-icon-left outside-list">
          <i class="icon ion-thermometer"></i>
          <b>In the heat of the moment</b>
        </ion-item>
      </div>

      <div name="search-results-faq" ng-if="searchResults.faq.length !== 0">
        <ion-item class="item item-icon-left outside-list">
          <i class="icon ion-ios-help"></i>
          <b>F.A.Q.</b>
        </ion-item>
        <ion-list>
          <ion-item class="item item-text-wrap" ng-repeat="result in searchResults.faq">
            <h2>{{result.question}}</h2>
            <p>{{result.answer}}</p>
          </ion-item>
        </ion-list>
      </div>

    </ion-list>

  </ion-content>
</ion-view>
