<ion-view view-title="{{'titleHelpCategories' | translate }}">
  <ion-content ng-init="googleAnalyticsForHelpCategoriesStep1()">


  <div ng-if="isEnglish()">
    <div class="list">
      <a class="item item-text-wrap item-thumbnail-left" href="#/app/helpCategoryTopics/{{helpCategory.id}}" ng-repeat="helpCategory in helpCategories">
        <img ng-src="img/help_step_1/{{helpCategory.image}}">
        <h2>{{helpCategory.description}}</h2>
      </a>
    </div>
  </div>

  <div ng-if="isSpanish()">
    <div class="list">
      <a class="item item-text-wrap item-thumbnail-left" href="#/app/helpCategoryTopics/{{helpCategory.id}}" ng-repeat="helpCategory in helpCategoriesEs">
        <img ng-src="img/help_step_1/{{helpCategory.image}}">
        <h2>{{helpCategory.description}}</h2>
      </a>
    </div>
  </div>
    

  </ion-content>
</ion-view>
