<ion-view title="{{'InTheHeatMomentOption' | translate }}">
    <ion-content ng-controller="HeatMomentCtrl" ng-init="googleAnalyticsView()">
        <ion-list>
        <div ng-if="isSpanish()">
            <div ng-repeat="moment in heatMomentsEs">
                <ion-item class="item item-stable item-text-wrap" ng-if="!moment.topics && !moment.url">
                    <b>{{moment.title}}</b>
                </ion-item>
                <ion-item class="item item-stable item-text-wrap item-icon-right" ng-if="moment.url" ng-click="checkConnection(moment.url)">
                    <b>{{moment.title}}</b>
                    <i class="icon ion-ios-browsers-outline font-21"></i>
                </ion-item>
                <ion-item class="item item-stable item-text-wrap" ng-click="toggleContent(moment)" ng-class="{active: isContentShown(moment)}" ng-if="moment.topics">
                    <i class="icon" ng-class="isContentShown(moment) ? 'ion-minus' : 'ion-plus'"></i> &nbsp;
                    <b>{{moment.title}}</b>
                </ion-item>
                <div ng-repeat="topic in moment.topics">
                    <ion-item class="item item-accordion item-text-wrap" ng-show="isContentShown(moment)">
                        <span class="pre-wrap">{{topic.content}}</span>
                    </ion-item>
                </div>
            </div>
        </div>
        <div ng-if="isEnglish()">
                <div ng-repeat="moment in heatMomentsEn">
                    <ion-item class="item item-stable item-text-wrap" ng-if="!moment.topics && !moment.url">
                        <b>{{moment.title}}</b>
                    </ion-item>
                    <ion-item class="item item-stable item-text-wrap item-icon-right" ng-if="moment.url" ng-click="checkConnection(moment.url)">
                        <b>{{moment.title}}</b>
                        <i class="icon ion-ios-browsers-outline font-21"></i>
                    </ion-item>
                    <ion-item class="item item-stable item-text-wrap" ng-click="toggleContent(moment)" ng-class="{active: isContentShown(moment)}" ng-if="moment.topics">
                        <i class="icon" ng-class="isContentShown(moment) ? 'ion-minus' : 'ion-plus'"></i> &nbsp;
                        <b>{{moment.title}}</b>
                    </ion-item>
                    <div ng-repeat="topic in moment.topics">
                        <ion-item class="item item-accordion item-text-wrap" ng-show="isContentShown(moment)">
                            <span class="pre-wrap">{{topic.content}}</span>
                        </ion-item>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>