<ion-view cache-view="false" view-title="Manage Children">
  <ion-content ng-controller="ChildsCtrl">
    <div ng-init="showTutorial(); updateUnsolvedProblems(); googleAnalyticsView();">
      <div  class="item item-divider item-text-wrap">
        <a ng-click="openModalCreate()" class="watchlist_menu button button-small button-clear button-positive">
          <i class="icon ion-plus"></i>
        </a>
        <div class="col col-75">
          <h2><b>My Children</b></h2>
        </div>
      </div>
      <div class="row" ng-if="childs.length === 0">
          <div >
            </div>
        <div class = "col">
          <div class="card">
            <div class="item item-text-wrap text-center" >
              <h2>
                You haven't registered a child.
                <br> <b>PLEASE REGISTER ONE ABOVE
                </b>
              </h2>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div ng-repeat="child in childs">
        <div ng-if="$index%2==0" class="row">
          <div class="col col-50">
            <div class="card">
              <div class="item item-text-wrap text-center">
                <img class="full-image" ng-src="img/childs/boy.png" ng-if="child.gender === 'Male'">
                <img class="full-image" ng-src="img/childs/girl.png" ng-if="child.gender === 'Female'">
                <h2><b>{{child.first_name}}</b></h2>
                <p><b>Birth date:</b> {{convertStringToDate(child.birthday) | date:"dd/MM/yy"}}</p>
              </div>
              <div class="item item-divider item-text-wrap text-center">
                <div class="button-bar">
                  <div class="col col-50 button button-small button-positive" ng-click="activateChild(child)" ng-if="child.active === 0 ">
                    <i class="icon ion-arrow-right-b"></i>
                  </div>
                  <div class="col col-50 button button-small button-balanced" ng-click="goTo('app.home')" ng-if="child.active === 1 ">
                    <i class="icon ion-arrow-right-c"></i>
                  </div>
                  <div class="col col-50 button button-small button-calm" ng-click="showActionsheet(child)">
                    <i class="icon ion-more"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-50" ng-if="childs[$index+1]">
            <div class="card">
              <div class="item item-text-wrap text-center">
                <img class="full-image" ng-src="img/childs/boy.png" ng-if="childs[$index+1].gender === 'Male'">
                <img class="full-image" ng-src="img/childs/girl.png" ng-if="childs[$index+1].gender === 'Female'">
                <h2><b>{{childs[$index+1].first_name}}</b></h2>
                <p><b>Birth date:</b> {{convertStringToDate(childs[$index+1].birthday) | date:"dd/MM/yy"}}</p>
              </div>
              <div class="item item-divider item-text-wrap text-center">
                <div class="button-bar">
                  <div class="col col-50 button button-small button-positive" ng-click="activateChild(childs[$index+1])" ng-if="childs[$index+1].active === 0">
                    <i class="icon ion-arrow-right-b"></i>
                  </div>
                  <div class="col col-50 button button-small button-balanced" ng-click="goTo('app.home')" ng-if="childs[$index+1].active === 1">
                    <i class="icon ion-arrow-right-c"></i>
                  </div>
                  <div class="col col-50 button button-small button-calm" ng-click="showActionsheet(childs[$index+1])">
                    <i class="icon ion-more"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
