<ion-view cache-view="false" view-title="{{'ManageChildrenTitle' | translate }}">
  <ion-content ng-controller="ChildsCtrl">
    <div ng-init="updateUnsolvedProblems(); googleAnalyticsView();showTutorialFirstTime(); getSharedAlsups();">
      <div  class="item item-divider item-text-wrap">
        <a ng-click="openModalCreate()" class="watchlist_menu button button-small button-clear button-positive">
          <i class="icon ion-plus"></i>
        </a>
        <div class="col col-75">
          <h2><b>{{'MyChildrenTitle' | translate }}</b></h2>
        </div>
      </div>
      <div class="row" ng-if="childs.length === 0">
          <div >
            </div>
        <div class = "col">
          <div class="card">
            <div class="item item-text-wrap text-center" >
              <h2>
                {{'HavntRegisteredAChildAlert' | translate }}
                <br> <b>{{'RegisterChildMessage' | translate }}
                </b>
              </h2>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div ng-repeat="child in childs">
        <div ng-if="$index%2==0" class="row">
          <div class="col col-50">
            <div class="card">
              <!-- <div class="item item-text-wrap text-center" ng-click="checkConnection();showSyncModal(child)"> -->
              <div class="item item-text-wrap text-center">
                <h2><b>{{child.first_name}}</b></h2>
              </div>
              <div class="item item-divider item-text-wrap text-center">
                <div class="button-bar">
                  <div class="col col-50 button button-small button-positive" ng-click="activateChild(child)" ng-if="child.active === 0 ">
                    <i class="icon ion-arrow-right-b"></i>
                  </div>
                  <div class="col col-50 button button-small button-balanced" ng-click="goTo('app.home')" ng-if="child.active === 1 ">
                    <i class="icon ion-arrow-right-c"></i>
                  </div>
                  <div class="col col-50 button button-small button-calm" ng-click="getSharedChildId(child.id); friendShared(child.id); showActionsheet(child);">
                    <i class="icon ion-more"></i>
                  </div>
                  <div class="col col-50 button button-small button-positive" ng-click = "UPbutton(child)" ng-if="UpButtonConfirm(child) === 0">
                    <i class="icon ion-ios-fastforward"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-50" ng-if="childs[$index+1]">
            <div class="card">
              <!-- <div class="item item-text-wrap text-center" ng-click="checkConnection();showSyncModal(childs[$index+1])"> -->
              <div class="item item-text-wrap text-center">
                <h2><b>{{childs[$index+1].first_name}}</b></h2>
              </div>
              <div class="item item-divider item-text-wrap text-center">
                <div class="button-bar">
                  <div class="col col-50 button button-small button-positive" ng-click="activateChild(childs[$index+1])" ng-if="childs[$index+1].active === 0">
                    <i class="icon ion-arrow-right-b"></i>
                  </div>
                  <div class="col col-50 button button-small button-balanced" ng-click="goTo('app.home')" ng-if="childs[$index+1].active === 1">
                    <i class="icon ion-arrow-right-c"></i>
                  </div>
                  <div class="col col-50 button button-small button-calm" ng-click="getSharedChildId(childs[$index+1].id); friendShared(childs[$index+1].id); showActionsheet(childs[$index+1]);">
                    <i class="icon ion-more"></i>
                  </div>
                  <div class="col col-50 button button-small button-positive" ng-click = "UPbutton(childs[$index+1])" ng-if="UpButtonConfirm(childs[$index+1]) === 0">
                   <i class="icon ion-ios-fastforward"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Shared Section -->

      <div ng-show="sharedAlsups.length > 0 && !isUserLogged()">
        <div class="item item-divider item-text-wrap">
          <div class="col col-75">
            <h2>
              <b>Shared Children</b>
              <span class="badge badge-energized">{{sharedAlsups.length}}</span>
            </h2>
          </div>
        </div>

        <div ng-repeat="shared in sharedAlsups">
          <div ng-if="$index%2==0" class="row">
            <div class="col col-50">
              <div class="card">
                <div class="item item-text-wrap text-center">
                  <h2>
                    <b>{{shared.name}}</b>
                  </h2>
                </div>
                <div class="item item-divider item-text-wrap text-center">
                  <div class="button-bar">
                    <div class="button button-small button-energized" ng-click="activeSharedChild(shared.id); goTo('app.home')">
                      <i class="icon ion-arrow-right-b"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-50" ng-if="sharedAlsups[$index+1]">
              <div class="card">
                <div class="item item-text-wrap text-center">
                  <h2>
                    <b>{{sharedAlsups[$index+1].name}}</b>
                  </h2>
                </div>
                <div class="item item-divider item-text-wrap text-center">
                  <div class="button-bar">
                    <div class="button button-small button-energized" ng-click="activeSharedChild(sharedAlsups[$index+1].id); goTo('app.home')">
                      <i class="icon ion-arrow-right-b"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
