<ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{'NewChildTitle' | translate }}</h1>
    <button class="button button-clear button-primary" ng-click="closeModalCreate()">{{'CancelOption' | translate }}</button>
  </ion-header-bar>
  <ion-content class="padding scroll-content ionic-scroll  has-header"><div class="scroll modal-animation">
    <div class="list">
      <label class="item item-input item-stacked-label ">
        <span class="input-label">{{'NameTitle' | translate }}</span>
        <input type="text" placeholder=" {{'TypeChildNameTitle' | translate }} "ng-model="child.first_name">
        </input>
      </label>


      <button class="button button-full button-positive" ng-if="child.first_name.length === 0" disabled>{{'CreateTitle' | translate }}</button>
      <button class="button button-full button-positive" ng-if="child.first_name.length > 0 " ng-click="createChild()">{{'CreateTitle' | translate }}</button>
    </div>
  </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out modal-animation"></div></div></ion-content>
</ion-modal-view>
