<ion-modal-view class="modal slide-in-up ng-enter active ng-enter-active">
    <style>
        #buttonbar{
            padding-bottom:50px; 
            padding-top:50px;            
        }            
    </style>
    <ion-header-bar class="bar bar-header bar-positive">        
        <h1 class="title">{{'SyncupTitle' | translate}}</h1>             
    </ion-header-bar>
    <ion-content>   
        <div class="list">   
            <label class="item" >                
                    <button class="col col-50 button button-small button-stable" ng-click="uploadData()">                    
                        <i class="icon ion-ios-cloud-upload-outline"></i>  </br>
                        {{'UploadChildTitle'  | translate }}
                    </button>                                                                                        
            </label>
            <label class="item">             
                <button class="col col-50 button button-small button-stable" ng-click="downloadData()">                    
                        <i class="icon ion-ios-cloud-download-outline"></i> </br>
                        {{'DownloadChildTitle'  | translate }}
                </button>                    
            </label>
            <label class="item" style="border: 0px">                         
                <button class="button button-block button-positive" ng-click="syncChildModal.hide()">
                    {{'CloseOption' | translate}}
                </button>
            </label>
        </div>
    </ion-content>
</ion-modal-view>