/* Empty. Add your own CSS if you like */

  .watchlist_menu {
     float: right;
     margin: 5px;
  }

.no-text-decoration {
  text-decoration: none;
}
progress[value] {
  width: 80%;
  height: 5px;
  bottom: -4px;
  position: absolute;
}
progress::-webkit-progress-value {
    background: #81BEF7;
}

.list .item.item-accordion {
  line-height: 25px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.2s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/* Animacion slide-in-right utilizada para modals */
.slide-in-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.slide-in-right.ng-enter,
.slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-right.ng-enter-active,
.slide-in-right > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slide-in-right.ng-leave,
.slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}
/* Animacion slide-in-right utilizada para modals */

.browser-link {
  color: #3975db;
  overflow: hidden;
}

.scroll-bar-indicator {
	display: none;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 15px;
}

#list ul {
  margin-top: 20px;
}
#list ul li {
  text-align: justify;
  margin: 10px 0px;
}

#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}

.right{
 text-align: right;
}

.tabs .tab-item .icon.step1 {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 70%;
  background-image: url('../img/mainHelp/icon-step1-tabs.png');
  background-size:contain;
}
.tabs .tab-item .icon.step2 {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 70%;
  background-image: url('../img/mainHelp/icon-step2-tabs.png');
  background-size:contain;
}
.tabs .tab-item .icon.step3 {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 70%;
  background-image: url('../img/mainHelp/icon-step3-tabs.png');
  background-size:contain;
}

@-webkit-keyframes slideIn {
  50% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

.slidein{
   -webkit-animation: slideInSmooth ease-in 1;
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
}

.fake-buttons{
  position:absolute;
  top:0px;
  right:0px;
  margin:0px;
  padding:0px;
  z-index: -1px;
}

.fake-button{
  font-size:16px;
  border: none;
  border-radius: 0px;
  height: 100%;
  padding: 6px;
  margin-left: -3px;
  margin-right: -1px;
}

.icon-size{
  width: 35px;
  height:35px;
  top:10px;
}

.image-icon {
  margin-left: -8px;
}

.outside-list{
  background-color: #f9f9f9;
}

.pull-right{
  float: right;
}

.font-21{
  font-size:21px;
}

.text-align-right{
  text-align:right;
}

.modal-animation{
  transform: translate3d(0px, 0px, 0px) scaleY(1);
  height: 0px;
}

.pre-wrap{
  white-space:pre-wrap;
}


.popup-intro .popup {
  width: 310px;
  height: 200px;
}
.tutorialSlide img{
   width: 100%;
   height: 110%;
   margin-top: -10%;
}
@media screen and (orientation: landscape) {
    .tutorialSlide img{
        margin-top: -5%;
        max-height: 100%;
        height: 100%;
        min-height: 110%;
        width: auto;
    }
  }

  .tiny{
    color: #387ef5 !important;
    font-size: 20px !important;
    position: absolute;
    top: -2px;
  }
/*input[type="date"]::-webkit-clear-button {
 -webkit-appearance: none;
  display: none;
}*/
