/* Empty. Add your own CSS if you like */

  .watchlist_menu {
     float: right;
     margin: 5px;
  }

.no-text-decoration {
  text-decoration: none;
}
progress[value] {
  width: 80%;
  height: 5px;
  bottom: -4px;
  position: absolute;
}
progress::-webkit-progress-value {
    background: #81BEF7;
}

.list .item.item-accordion {
  line-height: 25px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.2s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/* Animacion slide-in-right utilizada para modals */
.slide-in-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.slide-in-right.ng-enter,
.slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-right.ng-enter-active,
.slide-in-right > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slide-in-right.ng-leave,
.slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.browser-link {
  color: #3975db;
  overflow: hidden;
}

.scroll-bar-indicator {
	display: none;
}
